<% div_name='Idea' + ideamore.id.to_s() %>

<div id="<%= div_name %>" class="idea">
  <div class="startup-content" id="<%= div_name %>"
                onMouseMove="MM_changeProp('<%= div_name %>','','backgroundColor','#ecf8ff','DIV')"
                onMouseOut="MM_changeProp('<%= div_name %>','','backgroundColor','white','DIV')">
    <%= link_to(:controller => "startups", :action => 'show', :id => ideamore.startup_id) do %>
        <% startup = Startup.find(ideamore.startup_id) %>
        <% if startup.avatar != nil %>
            <%= image_tag startup.avatar.url(:teaser) %>
        <% else %>
            <img class="thumbnail1" src='/images/no_logo.png'>
        <% end %>
        <h5><%= startup.name %></h5>
        <div id="<%= div_name %>_1" hidden=true>
            <p><%= simple_format h startup.pitch.firstletters(120) %></p>

            <% if startup.Campaign !=nil && startup.Campaign.status == 3 %>
            <hr style="color:grey; hight:1px" />
              <div class="description-fields">
                <ul class="media-list1">
                  <%for allfield in Allfield.find_all_by_view_flag(3)%>
                      <% a_field = startup.Companydescriptions.find_by_allfield_id(allfield) %>
                      <% if a_field != nil %>
                          <li class="media1">
                            <p class="pull-left"><%= a_field.field_status %></p>
                            <img src="/images/check.png" class="img-rounded-mini check-img" >
                          </li>
                      <% end %>
                  <% end %>
                </ul>
                <hr style="color:grey; hight:1px" />
                <table>
                  <tr>
                    <td >Goal: </td>
                    <td class="td2"><span class="label label-warning"><%= number_to_currency(startup.Campaign.goal_sum, :precision => 0) %> </span></td>
                  </tr>
                  <tr >
                    <td >Share:</td>
                    <td class="td2"><b><%= number_to_percentage(startup.Campaign.share, :precision => 1) %></b></td>
                  </tr>
                </table>
                <div class="progress progress-primary">
                  <% a= startup.Campaign.raised_sum * 100/ startup.Campaign.goal_sum %>
                  <div class="bar" style="width:<%= a %>% ;"></div>
                </div>
              </div>
            <% end %>
        </div>
    <% end %>
  </div>

  <div class="idea-content">
    <div class="comment">
      <h5>
        <% if ideamore.title == nil || ideamore.title == ""  %>
            Open discussion
        <% else %>
            <%=  ideamore.title %>
        <% end %>
      </h5>
      <% follow_ideas = Idea.where(:idea_id => ideamore.idea_id) %>
      <% follow_ideas.sort! { |a, b| [a['created_at']] <=> [b['created_at']] } %>
      <% i = 0 %>
      <% follow_ideas.each do |follow_idea|  %>
        <%= simple_format h follow_idea.content %>
        <p class="author"><%= follow_idea.first_name %> <%= follow_idea.last_name %> on
                        <%= follow_idea.created_at.strftime('%m/%d/%Y') %></p>
        <hr />
        <% if i == 0 %>
            <div id="<%= div_name %>_2" hidden=true>
        <% end %>
        <% i = i + 1 %>
        <% if i == follow_ideas.count %>
            </div>
        <% end %>
      <% end %>
    </div>
    <a id="<%= div_name %>_invert_1" onclick="showHidden('<%= div_name %>')">
      See all <%=  follow_ideas.count %> ideas in this discussion
      <img src="/images/blue_arrow.png" style="width: 12px">
    </a>
    <a id="<%= div_name %>_3" hidden=true onclick="showHidden('<%= div_name %>')">
      Hide other ideas in this discussion
      <img src="/images/blue_arrow_up.png" style="width: 12px; ">
    </a>
    <span style="margin:0 10px;">|</span>
    <% if session[:id] and session[:id] != 0 %>
        <a id="<%= div_name %>_comment_invert_1" onclick="showHidden('<%= div_name %>_comment')">
          Add your idea/comment
          <img src="/images/blue_arrow.png" style="width: 12px">
        </a>
        <a id="<%= div_name %>_comment_1" hidden=true onclick="showHidden('<%= div_name %>_comment')">
          Clear your idea/comment
          <img src="/images/blue_arrow_up.png" style="width: 12px">
        </a>
        <div id="<%= div_name %>_comment_2" hidden=true>
            <hr />
            <%= form_tag(:action => "create", :controller => "ideas", :multipart => true) do %>
                <%= hidden_field :idea, :is_protected, :value => ideamore.is_protected %>
                <%= hidden_field :idea, :idea_id, :value => ideamore.idea_id %>
                <%= hidden_field :idea, :title, :value => ideamore.title %>
                <%= hidden_field :idea, :startup_id, :value => ideamore.startup_id %>
                <%= text_area :idea, :content%>
                <%= submit_tag 'Save', class: "btn btn-small",
                             style: "color: #f88a00;margin-top:0px;height:26px;width:80px;"%>
            <% end %>
        </div>
    <% else %>
        <%= link_to 'Join or Login to leave your idea/comment', :controller => "home" %>
    <% end %>
  </div>
  <div style="clear:both"></div>
</div>

