<div class="highlighted-company">
    <div style="float:left" >

      <% if employeedetailed.avatar? %>
          <%= image_tag employeedetailed.avatar.url(:thumb), :class => "img-rounded-mid"  %>
      <% else %>
          <img src='/images/profile/Nophoto.png' class="img-rounded-mid"  />
      <% end %>
    </div>

    <h5> <%= employeedetailed.firstname %> <%= employeedetailed.lastname %> - <%= employeedetailed.title %> </h5>
    <hr/>
    <p> <%= employeedetailed.description %> </p>


    <div style="clear:both"></div>
</div>


    
