    <%= form_for(@companyteam) do |f| %>
  <% if @companyteam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@companyteam.errors.count, "error") %> prohibited this companyteam from being saved:</h2>

      <ul>
      <% @companyteam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p><%= f.label 'First Name' %></p>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <p><%= f.label 'Last Name' %></p>
    <%= f.text_field :lastname %>
  </div>

        <div class="field">
    <p><%= f.label 'Title/position in the company' %></p>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <p><%= f.label 'Description of the background and responsibilities' %></p>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <p><%= f.label 'LinkedIn profile link' %></p>
    <%= f.text_field :linkedin %>
  </div>
  <div class="field">
    <p><%= f.label 'CMU affiliation' %></p>
    <%= f.text_field :cmuaffiliation %>
  </div>
  <div class="field">
    <p><%= f.label 'Email address' %></p>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <p><%= f.label 'Phone number' %></p>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <p><%= f.label 'Address' %></p>
    <%= f.text_field :address %>
  </div>

        <div id="image_form">


              <p>Upload photo<%= f.file_field :avatar%> <br>
                <%= submit_tag "Save Profile"%></p>

        </div>
<% end %>
