<p id="notice"><%= notice %></p>

<p>
  <b>Startup:</b>
  <%= @companyteam.startup_id %>
</p>

<p>
  <b>Firstname:</b>
  <%= @companyteam.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @companyteam.lastname %>
</p>

<p>
  <b>Title:</b>
  <%= @companyteam.title %>
</p>

<p>
  <b>Description:</b>
  <%= @companyteam.description %>
</p>

<p>
  <b>Linkedin:</b>
  <%= @companyteam.linkedin %>
</p>

<p>
  <b>Cmuaffiliation:</b>
  <%= @companyteam.cmuaffiliation %>
</p>

<p>
  <b>Email:</b>
  <%= @companyteam.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @companyteam.phone %>
</p>

<p>
  <b>Address:</b>
  <%= @companyteam.address %>
</p>

<p>
  <b>Picture:</b>
  <%= @companyteam.picture_id %>
</p>


<%= link_to 'Edit', edit_companyteam_path(@companyteam) %> |
<%= link_to 'Back', companyteams_path %>
