<%= form_for(@startup) do |f| %>
  <% if @startup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@startup.errors.count, "error") %> prohibited this startup from being saved:</h2>

      <ul>
      <% @startup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <h2>Goal*</h2>
    <p>How much capital do you want to raise?<p>
    <%= f.text_field :goal_sum %>
  </div>
  <br />
  <div class="field">
    <h2>Closing date*</h2>
    <p>When is the closing date?<p>
    <%= f.date_field :cloasing_date %>
  </div>

  </br>
  <p>* - requred fields </p>

  <%= link_to :nextstep => 'save' do %>
	<button id="save-company" class="bottox-box" onMouseMove="MM_changeProp('save-company','','backgroundColor','#669966','DIV')" onMouseOut="MM_changeProp('save-company','','backgroundColor','#66CC66','DIV')">
  		<p>Save and Exit</p>
  	</button>
  <% end %>
   
  <%= link_to  :nextstep => 'next' do %>
  	<button id="next-company" class="bottox-box" onMouseMove="MM_changeProp('next-company','','backgroundColor','#669966','DIV')" onMouseOut="MM_changeProp('next-company','','backgroundColor','#66CC66','DIV')">
    	<p>Next >></p>
  	</button>
  <% end %>

<% end %>