.description-box{:id => "description_#{description.id}"}
  - if params[:action] == 'show'
    .action-box
      .slider-bar
        %p Rate #{description.field_status.downcase}:
        = form_tag({:action => 'vote_description', :controller => 'votes'},
           :multipart => true, :id => "form_"+ description.id.to_s(), :remote => true) do
          = hidden_field :vote, :description_id, :value => description.id
          = hidden_field :vote, :score, :value => 3
          = hidden_field_tag :startup_id, description.startup_id
          = submit_tag 'submit', :id => "button_"+ description.id.to_s(), :hidden => true

        .scale-to-rate
          %span{:onMouseMove => "customHighlightIn(this)", :onMouseOut => "customHighlightOut(this)", :onclick => "rateThis(this, 1, #{description.id})",
                  :style => "border-left:1px grey solid;"} 1
          %span{:onMouseMove => "customHighlightIn(this)", :onMouseOut => "customHighlightOut(this)", :onclick => "rateThis(this, 2, #{description.id})"} 2
          %span{:onMouseMove => "customHighlightIn(this)", :onMouseOut => "customHighlightOut(this)", :onclick => "rateThis(this, 3, #{description.id})"} 3
          %span{:onMouseMove => "customHighlightIn(this)", :onMouseOut => "customHighlightOut(this)", :onclick => "rateThis(this, 4, #{description.id})"} 4
          %span{:onMouseMove => "customHighlightIn(this)", :onMouseOut => "customHighlightOut(this)", :onclick => "rateThis(this, 5, #{description.id})"} 5


  .description-statement
    %h5{:style => "font-weight:lighter"}
      = description.field_status
      %i.icon-chevron-down.glyphw{:onclick => "openThis(#{description.id})",
          :style => "float:right; cursor:pointer"}
  .ideahatching.collapse{:id => "ideahatching_#{description.id}"}
    .idea-box
      .help-text
        %h5{:style => "font-weight:lighter"} Hatch your #{description.field_status}
        %p
          Create several versions of your idea's #{description.field_status} so people can choose which one they like
          the most and which has the most potential. Collect the results and keep improving!
      - if !description.companydescription_id.nil?
        .idea-statement{:onclick => "voteThis(this)"}
          - old_description = Companydescription.find(description.companydescription_id)
          = simple_format old_description.content.firstletters(500)
        %img{:src => "../images/vs.png"}
        .idea-statement{:onclick => "voteThis(this)"}
          = simple_format description.content.firstletters(500), :class => "p_new"
          -if session[:connection_type] == 2
            %i.icon-pencil.glyphw{:onclick => "editStep1(this.parentNode.parentNode)"}
      -else
        .idea-statement
          = simple_format description.content.firstletters(500), :class => "p_new"
          -if session[:connection_type] == 2
            %i.icon-pencil.glyphw{:onclick => "editStep1(this.parentNode.parentNode)"}
        %img{:src => "../images/vs.png"}
        .idea-statement.empty-statement
          %p No other versions available. Suggest a new one below.
      .clear-both
      -if session[:connection_type] == 2
        .edit-description{:hidden => "true"}
          %div.step1{:hidden => "true"}
            %p
              %input{ :type => "radio", :name => "group#{description.id}", :value => "new_vesrsion", :checked => 'true'}
              Add new version
            %p
              %input{ :type => "radio", :name => "group#{description.id}", :value => "new_vesrsion"}
              Correct current version
              %hr
              %button.btn.btn-mini.btn-warning{:onclick => "editStep2(this.parentNode.parentNode.parentNode.parentNode)"} Next
              %button.btn.btn-mini{:onclick => "editCancel(this)"} Cancel
              .clear-both
          %div.step2{:hidden => "true"}
            = form_tag({:action => "new_suggestion", :controller => "companydescriptions"},
                                                     :multipart => true,
                                                     :class => "next-test",
                                                     :remote => true) do
              = hidden_field :companydescription, :companydescription_id, :value => description.id
              = hidden_field_tag :change_type, 0
              = text_area :companydescription, :content
              = submit_tag 'Save', :hidden => "true"
            %hr
              %button.btn.btn-mini.btn-warning{:onclick => "submitForm(this.parentNode.childNodes[1])"} Save
              %button.btn.btn-mini{:onclick => "editCancel(this)"} Cancel
              .clear-both

    -if session[:connection_type] == 2
      .chart-box
        %hr
          = link_to({:action => 'show_votes', :controller => 'votes',
                    :description_id => description.id},
                    :id => "chart_link" + description.id.to_s(),
                    :remote => true,
                    :style => "cursor:pointer; font-size:12px;") do
            %i.icon-chevron-down.glyphw
            Load votes
            %i.icon-chevron-down.glyphw
          .div{:id => "visualization_#{description.id}"}

    .idea-box
      :ruby
        query_str = ""
        description_list = Array.new
        description_list << description.id
        current_description = description
        while current_description.companydescription_id != nil do
          description_list << current_description.companydescription_id
          current_description = @company_descriptions_all.select{|x| x.id == current_description.companydescription_id}.first
        end
        description_list.each do |disc_id|
          if query_str == ""
            query_str += 'companydescription_id = ' + disc_id.to_s()
          else
            query_str += ' OR companydescription_id = ' + disc_id.to_s()
          end
        end
      %hr
      .discussion{:id => "discussion_#{description.id}"}
        - ideas = Idea.where(query_str)
        - if ideas.nil? || ideas.length == 0
          %p There are no suggestions so far.
          %hr.middle-hr
        - ideas.each do |idea|
          = simple_format idea.content
          %p.author by #{idea.first_name} #{idea.last_name} on #{idea.created_at.strftime('%m/%d/%Y')}
          %hr.middle-hr
        = form_tag({:controller => "ideas", :action => "create"},:remote => true) do
          = hidden_field :idea, :title, :value => description.field_status
          = hidden_field :idea, :is_protected, :value => 0
          = hidden_field :idea, :idea_id, :value => ""
          = hidden_field :idea, :startup_id, :value => @startup.id
          = hidden_field :idea, :companydescription_id, :value => description.id
          = text_area :idea, :content, :value => "Add your suggestion here...", :onclick => "clearInput(this)"
          = submit_tag 'SUBMIT', :class => "custom-button", :style => "float:right"
          .clear-both
