.description-box{:id => "description_#{description.id}"}
  .description-statement
    %h5{:style => "font-weight:lighter"}
      = description.field_status
      %i.icon-chevron-down.glyphw{:onclick => "openThis(#{description.id})",
          :style => "float:right; cursor:pointer"}
  .ideahatching.collapse{:id => "ideahatching_#{description.id}"}
    .idea-box
      .help-text
        %h5{:style => "font-weight:lighter"} Hatch your #{description.field_status}
        %p
          Create several versions of your idea's #{description.field_status} so people can choose which one they like
          the most and which has the most potential. Collect the results and keep improving!
      - if !description.companydescription_id.nil?
        .idea-statement{:onclick => "voteThis(this)"}
          - old_description = Companydescription.find(description.companydescription_id)
          = simple_format old_description.content.firstletters(500)
        %img{:src => "../images/versus-green.png"}
        .idea-statement{:onclick => "voteThis(this)"}
          = simple_format description.content.firstletters(500), :class => "p_new"
          -if session[:connection_type] == 2
            %i.icon-pencil.glyphw{:onclick => "editStep1(this.parentNode.parentNode)"}
      -else
        .idea-statement
          = simple_format description.content.firstletters(500), :class => "p_new"
          -if session[:connection_type] == 2
            %i.icon-pencil.glyphw{:onclick => "editStep1(this.parentNode.parentNode)"}
        %img{:src => "../images/versus-green.png"}
        .idea-statement.empty-statement
          %p No other versions available. Suggest a new one below.
      .clear-both
      -if session[:connection_type] == 2
        .edit-description{:hidden => "true"}
          %div.step1{:hidden => "true"}
            %p
              %input{ :type => "radio", :name => "group#{description.id}", :value => "new_vesrsion", :checked => 'true'}
              Add new version
            %p
              %input{ :type => "radio", :name => "group#{description.id}", :value => "new_vesrsion"}
              Correct current version
              %hr
              %button.btn.btn-mini.btn-warning{:onclick => "editStep2(this.parentNode.parentNode.parentNode.parentNode)"} Next
              %button.btn.btn-mini{:onclick => "editCancel(this)"} Cancel
              .clear-both
          %div.step2{:hidden => "true"}
            = form_tag({:action => "new_suggestion", :controller => "companydescriptions"},
                                                     :multipart => true,
                                                     :class => "next-test",
                                                     :remote => true) do
              = hidden_field :companydescription, :companydescription_id, :value => description.id
              = hidden_field_tag :change_type, 0
              = text_area :companydescription, :content
              = submit_tag 'Save', :hidden => "true"
            %hr
              %button.btn.btn-mini.btn-warning{:onclick => "submitForm(this.parentNode.childNodes[1])"} Save
              %button.btn.btn-mini{:onclick => "editCancel(this)"} Cancel
              .clear-both

    -if session[:connection_type] == 2
      .chart-box
        %hr
          = link_to({:action => 'show_votes', :controller => 'votes',
                    :description_id => description.id},
                    :id => "chart_link" + description.id.to_s(),
                    :remote => true,
                    :style => "cursor:pointer; font-size:12px;") do
            %i.icon-chevron-down.glyphw
            Load votes
            %i.icon-chevron-down.glyphw
          .div{:id => "visualization_#{description.id}"}

    .idea-box
      :ruby
        ideas = Array.new
        current_description = description
        ideas.concat(@ideas.select {|x| x.companydescription_id == current_description.id})
        while current_description.companydescription_id != nil do
          current_description = @company_descriptions_all.select{|x| x.id == current_description.companydescription_id}.first
          ideas.concat(@ideas.select {|x| x.companydescription_id == current_description.id})
        end
        ideas.uniq!
      %hr
      .discussion{:id => "discussion_#{description.id}"}
        - if ideas.nil? || ideas.length == 0
          %p.empty-comment There are no suggestions so far - be the first to contribute!
          %hr.middle-hr.empty-comment
        - ideas.select{|x| x.id == x.idea_id}.each do |idea|
          %h2= simple_format idea.title
          = simple_format idea.content
          %p.author by #{idea.first_name} #{idea.last_name} on #{idea.created_at.strftime('%m/%d/%Y')}
          = link_to "Reply // View replies (" + (ideas.select{|x| idea.id == x.idea_id}.length - 1).to_s + ")",
                {:controller => "ideas", :action => "show_replies", :idea_id => idea.id},
                :remote => true, :style => "cursor:pointer"
          %hr.middle-hr

        = form_tag({:controller => "ideas", :action => "create"},:remote => true) do
          %h5{:style => "font-weight:lighter"} Add your suggestion or question
          = text_field :idea, :title, :value => "Topic", :onclick => "clearInput(this)"
          = hidden_field :idea, :is_protected, :value => 0
          = hidden_field :idea, :idea_id, :value => ""
          = hidden_field :idea, :startup_id, :value => @startup.id
          = hidden_field :idea, :companydescription_id, :value => description.id
          = text_area :idea, :content, :value => "Add your suggestion here.", :onclick => "clearInput(this)"
          = submit_tag 'Save', :class => "startup-button-yellow"
          .clear-both
