<% div_name='project' + demo_startup.id.to_s() %>

<%= link_to (demo_startup) do %>
  <div id="<%= div_name %>" class="demo-startup"
     style="background-image:url('<%= demo_startup.avatar.url(:large) %>');"
     onmousemove="highlightFrame(this)"
     onmouseout="whiteFrame(this)">

    <div class="demo-grad" style="background: linear-gradient(to top right, rgba(<%=rand(255)%>,<%=rand(255)%>,<%=rand(255)%>, 1),  rgba(0, 0, 0, 0));">
    </div>
    <div class="demo-text"><%= link_to (demo_startup) do %>
      <h2><%= demo_startup.name %></h2>
      <p><%= simple_format demo_startup.pitch.firstletters(120), :class => "p-content" %></p>
    <% end %></div>
  </div>
<% end %>

