<% div_name='project' + demo_startup.id.to_s() %>

<%= link_to (demo_startup) do %>
  <div id="<%= div_name %>" class="demo-startup"
     style="background-image:url('<%= demo_startup.avatar.url(:large) %>');"
     onmousemove="highlightFrame(this)"
     onmouseout="whiteFrame(this)">

    <% a = rand(3)
       b = rand(2)
       case a
         when 0
           c1 = 0
           if b == 1
             c2 = 255
             c3 = rand(255)
           else
             c2 = rand(255)
             c3 = 255
           end
         when 1
           c2 = 0
           if b == 1
             c1 = 255
             c3 = rand(255)
           else
             c1 = rand(255)
             c3 = 255
           end
         when 2
           c3 = 0
           if b == 1
             c2 = 255
             c1 = rand(255)
           else
             c2 = rand(255)
             c1 = 255
           end
       end
    %>
    <div class="demo-grad"
            style="background: -webkit-linear-gradient(bottom left, rgba(<%=c1%>,<%=c2%>,<%=c3%>, 1),  rgba(0, 0, 0, 0));
                    background: -moz-linear-gradient(to top right, rgba(<%=c1%>,<%=c2%>,<%=c3%>, 1), white);">
    </div>
    <div class="demo-text"><%= link_to (demo_startup) do %>
      <h2><%= demo_startup.name %></h2>
      <p><%= simple_format demo_startup.pitch.firstletters(80), :class => "p-content" %></p>
    <% end %></div>
  </div>
<% end %>

