.description-box{:id => "description_#{description.id}"}
  - if params[:action] == 'show'
    .action-box
      .slider-bar
        %p Rate #{description.field_status.downcase}:
        = form_tag({:action => 'vote_description', :controller => 'votes'},
           :multipart => true, :id => "form_"+ description.id.to_s(), :remote => true) do
          = hidden_field :vote, :description_id, :value => description.id
          = hidden_field :vote, :score, :value => 3
          = hidden_field_tag :startup_id, description.startup_id
          = submit_tag 'submit', :id => "button_"+ description.id.to_s(), :hidden => true

        .scale-to-rate
          :ruby
            if session[:id] != nil
              vote = Vote.where("user_id = ? and companydescription_id = ?", session[:id], description.id)
              current_vote = 0
              current_vote = vote[0].score if vote.length > 0
            end

          %span{:onMouseMove => "customHighlightIn(this)", :onMouseOut => "customHighlightOut(this)", :onclick => "rateThis(this, 1, #{description.id})",
                  :style => "border-left:1px grey solid; #{'background-color:#94d500' if current_vote == 1}"} 1
          %span{:onMouseMove => "customHighlightIn(this)", :onMouseOut => "customHighlightOut(this)", :onclick => "rateThis(this, 2, #{description.id})",
                  :style => "#{'background-color:#94d500' if current_vote == 2}"} 2
          %span{:onMouseMove => "customHighlightIn(this)", :onMouseOut => "customHighlightOut(this)", :onclick => "rateThis(this, 3, #{description.id})",
                  :style => "#{'background-color:#94d500' if current_vote == 3}"} 3
          %span{:onMouseMove => "customHighlightIn(this)", :onMouseOut => "customHighlightOut(this)", :onclick => "rateThis(this, 4, #{description.id})",
                  :style => "#{'background-color:#94d500' if current_vote == 4}"} 4
          %span{:onMouseMove => "customHighlightIn(this)", :onMouseOut => "customHighlightOut(this)", :onclick => "rateThis(this, 5, #{description.id})",
                  :style => "#{'background-color:#94d500' if current_vote == 5}"} 5


  .description-statement
    %h5{:style => "font-weight:lighter"}= description.field_status
    %p= description.content
  .clear-both
  %a.help-hatch.custom-button{"data-openpanel" => "#ideahatching_#{description.id}"}
    Help hatch it!

  .ideahatching.collapse{:id => "ideahatching_#{description.id}"}
    .idea-box
      .help-text
        %h5{:style => "font-weight:lighter"} Help hatch the #{description.field_status}
        %p
          Help the founders improve this idea and turn it into a successful business:
          %ol
            %li{:style => "font-weight:lighter"} Select which #{description.field_status} you like the most or which has the most potential.
            %li{:style => "font-weight:lighter"} Add your suggestions for this #{description.field_status} or participate in the discussion with other idea hatchers.
            %li{:style => "font-weight:lighter"} Follow the idea to see how it evolves, launches and succeeds thanks to your help!
      - if !description.companydescription_id.nil?
        .idea-statement{:onclick => "voteThis(this)"}
          - old_description = Companydescription.find(description.companydescription_id)
          = simple_format old_description.content.firstletters(500)
        %img{:src => "../images/versus-green.png"}
        .idea-statement{:onclick => "voteThis(this)"}
          = simple_format description.content.firstletters(500), :class => "p_new"
          -if session[:connection_type] == 2
            %i.icon-pencil.glyphw{:onclick => "editStep1(this.parentNode.parentNode)"}
      -else
        .idea-statement
          = simple_format description.content.firstletters(500), :class => "p_new"
          -if session[:connection_type] == 2
            %i.icon-pencil.glyphw{:onclick => "editStep1(this.parentNode.parentNode)"}
        %img{:src => "../images/versus-green.png"}
        .idea-statement.empty-statement
          %p No other versions available. Suggest a new one below.
      .clear-both

    .idea-box
      :ruby
        ideas = Array.new
        current_description = description
        ideas.concat(@ideas.select {|x| x.companydescription_id == current_description.id})
        while current_description.companydescription_id != nil do
          current_description = @company_descriptions_all.select{|x| x.id == current_description.companydescription_id}.first
          ideas.concat(@ideas.select {|x| x.companydescription_id == current_description.id})
        end
        ideas.uniq!
      %hr
      .discussion{:id => "discussion_#{description.id}"}
        - if ideas.nil? || ideas.length == 0
          %p.empty-comment There are no suggestions so far - be the first to contribute!
          %hr.middle-hr.empty-comment
        - ideas.select{|x| x.id == x.idea_id}.each do |idea|
          %h2= simple_format idea.title
          = simple_format idea.content
          %p.author by #{idea.first_name} #{idea.last_name} on #{idea.created_at.strftime('%m/%d/%Y')}
          = link_to "Reply // View replies (" + (ideas.select{|x| idea.id == x.idea_id}.length - 1).to_s + ")",
                {:controller => "ideas", :action => "show_replies", :idea_id => idea.id},
                :remote => true, :style => "cursor:pointer"
          %hr.middle-hr

        = form_tag({:controller => "ideas", :action => "create"},:remote => true) do
          %h5{:style => "font-weight:lighter"} Add your suggestion or question
          = text_field :idea, :title, :value => "Topic", :onclick => "clearInput(this)"
          = hidden_field :idea, :is_protected, :value => 0
          = hidden_field :idea, :idea_id, :value => ""
          = hidden_field :idea, :startup_id, :value => @startup.id
          = hidden_field :idea, :companydescription_id, :value => description.id
          = text_area :idea, :content, :value => "Add your suggestion here.", :onclick => "clearInput(this)"
          = submit_tag 'Save', :class => "startup-button-yellow"
          .clear-both
