.description-box{:id => "description_#{description.id}"}
  - if params[:action] == 'show'
    .action-box
      .slider-bar
        %p{:style => "text-align: center;margin-bottom:0px;font-size:14px;line-height:18px"} Rate #{description.field_status.downcase}:
        %p{:style => "text-align: center;font-size:12px;margin-bottom:0px;color:grey" } (click on the scale)
        = form_tag({:action => 'vote_description', :controller => 'votes'},
           :multipart => true, :id => "form_"+ description.id.to_s(), :remote => true) do
          = hidden_field :vote, :description_id, :value => description.id
          = hidden_field :vote, :score, :value => 3
          = hidden_field_tag :startup_id, description.startup_id
          = submit_tag 'submit', :id => "button_"+ description.id.to_s(), :hidden => true
        %div.progress.progress-primary.progress-slider{:id => "bar_#{description.id}",
            :onmousedown => "stopSlideVote(#{description.id}, this, this.parentNode.parentNode.parentNode.offsetLeft, 160)",
            :onmouseup => "startSlideVote(#{description.id}, this, this.parentNode.parentNode.parentNode.offsetLeft, 160)"}
          %div{:id=> "slider_#{description.id}", :class=> "bar" }
          .split-bar-div
            %span.bar-split
            %span.bar-split
            %span.bar-split
            %span.bar-split
            %span.bar-split{:style => "padding-right: 0;"}
        %p
          %span.slider-start 0
          %span.slider-info{:id => "info_#{description.id}"}
          %span.slider-end 5

  .description-statement
    %h5{:style => "font-weight:lighter"}= description.field_status
    %p= description.content
  .clear-both
  %a.help-hatch{:onclick => "$('#ideahatching_#{description.id}').collapse('toggle')"}
    - if params[:action] == 'show'
      Help hatch it!
    - else
      Open dashboard

  .ideahatching.collapse{:id => "ideahatching_#{description.id}"}
    .idea-box
      .help-text
        %h5{:style => "font-weight:lighter"} Help hatch the #{description.field_status}
        %p
          On this dashboard you do things. Yup, you do! This idea is waiting for you to be improved and become a
          successful business:
          %ul
            %li{:style => "font-weight:lighter"} First, select which #{description.field_status} do you like the most, which has the most potential.
            %li{:style => "font-weight:lighter"}
              Second, add you suggestions how this #{description.field_status} or patricipate in the discussion with
              other like-minded people
            %li{:style => "font-weight:lighter"} Finally, see how the idea evolves, launches and succeed thanks to your help!
      - if !description.companydescription_id.nil?
        .idea-statement{:onclick => "voteThis(this)"}
          - old_description = Companydescription.find(description.companydescription_id)
          = simple_format old_description.content.firstletters(300)
        %img{:src => "../images/vs.png"}
        .idea-statement{:onclick => "voteThis(this)"}
          = simple_format description.content.firstletters(300), :class => "p_new"
          -if session[:connection_type] == 2
            %i.icon-pencil.glyphw{:onclick => "editStep1(this.parentNode.parentNode)"}
      -else
        .idea-statement
          = simple_format description.content.firstletters(300), :class => "p_new"
          -if session[:connection_type] == 2
            %i.icon-pencil.glyphw{:onclick => "editStep1(this.parentNode.parentNode)"}
        %img{:src => "../images/vs.png"}
        .idea-statement.empty-statement
          %p No other versions available. Suggest a new one bellow...
      .clear-both
      -if session[:connection_type] == 2
        .edit-description{:hidden => "true"}
          %div.step1{:hidden => "true"}
            %p
              %input{ :type => "radio", :name => "group#{description.id}", :value => "new_vesrsion", :checked => 'true'}
              Add new version
            %p
              %input{ :type => "radio", :name => "group#{description.id}", :value => "new_vesrsion"}
              Correct current version
              %hr
              %button.btn.btn-mini.btn-warning{:onclick => "editStep2(this.parentNode.parentNode.parentNode.parentNode)"} Next
              %button.btn.btn-mini{:onclick => "editCancel(this)"} Cancel
              .clear-both
          %div.step2{:hidden => "true"}
            = form_tag({:action => "new_suggestion", :controller => "companydescriptions"},
                                                     :multipart => true,
                                                     :class => "next-test",
                                                     :remote => true) do
              = hidden_field :companydescription, :companydescription_id, :value => description.id
              = hidden_field_tag :change_type, 0
              = text_area :companydescription, :content
              = submit_tag 'Save', hidden: "true"
            %hr
              %button.btn.btn-mini.btn-warning{:onclick => "submitForm(this.parentNode.childNodes[1])"} Save
              %button.btn.btn-mini{:onclick => "editCancel(this)"} Cancel
              .clear-both

    -if session[:connection_type] == 2
      .chart-box
        %hr
          = link_to({:action => 'show_votes', :controller => 'votes',
                    :description_id => description.id},
                    :id => "chart_link" + description.id.to_s(),
                    :remote => true,
                    :style => "cursor:pointer; font-size:12px;") do
            %i.icon-chevron-down.glyphw
            Load votes
            %i.icon-chevron-down.glyphw
          .div{:id => "visualization_#{description.id}"}

    .idea-box
      %hr
      .discussion{:id => "discussion_#{description.id}"}
        - ideas = Idea.where("companydescription_id = ?", description.id)
        - if ideas.nil? || ideas.length == 0
          %p no suggestions so far. be the first one to contribute...
          %hr.middle-hr
        - ideas.each do |idea|
          = simple_format idea.content
          %p.author by #{idea.first_name} #{idea.last_name} on #{idea.created_at.strftime('%m/%d/%Y')}
          %hr.middle-hr
        = form_tag({:controller => "ideas", :action => "create"},:remote => true) do
          = hidden_field :idea, :title, :value => description.field_status
          = hidden_field :idea, :is_protected, :value => 0
          = hidden_field :idea, :idea_id, :value => ""
          = hidden_field :idea, :startup_id, :value => @startup.id
          = hidden_field :idea, :companydescription_id, :value => description.id
          = text_area :idea, :content, :value => "Add your suggestion here...", :onclick => "clearInput(this)"
          = submit_tag 'Save', :class => "startup-button-yellow"
          .clear-both
