<%= form_for(@startup) do |f| %>


   <% if @startup.errors[:goal_sum].length > 0 %>
    <div class="field">
    <h4><font color = 'red'>Goal</font></h4>
    <div class="input-prepend input-append">
      <span class="add-on"><font color = 'red'>$</font></span>
      <%= f.text_field :goal_sum ,:style => "border-color:red" %>

    </div>
  </div>
        <%else%>
        <div class="field">
          <h4>Goal</h4>
          <div class="input-prepend input-append">
            <span class="add-on">$</span>
            <%= f.text_field :goal_sum%>

          </div>
        </div>
  <%end%>
  <br />
    <% if @startup.errors[:valuation_sum].length > 0 %>
    <h4><font color = 'red'>Valuation of the startup</font></h4>
    <div class="input-prepend input-append">
      <span class="add-on"><font color = 'red'>$</font></span>
      <%= f.text_field :valuation_sum,:style => "border-color:red" %>
    </div>
        <%else%>
        <h4>Valuation of the startup</h4>
        <div class="input-prepend input-append">
          <span class="add-on">$</span>
          <%= f.text_field :valuation_sum %>
        </div>
        <%end%>
  <br />  
  <div class="field">
    <h4>Closing date</h4>
    <%= f.date_select :closing_date %>
  </div>

  </br>
  <p>* - requred fields </p>
  
  <%= hidden_field_tag 'nextstep', 'exit' %>

  <%= link_to do %>
  	<button id="next-company" class="btn btn-primary">
    	<p>Save and Continue</p>
  	</button>

  <% end %>
  <%= link_to(:action => 'show', :id => @startup.id) do %>
    <button type="button" class="btn">Cancel</button>
  <% end %>
<% end %>
