<div class="vote-frame <%= class_name %>">
  <h2 class="vote-name">
    <%= startup.name %>
  </h2>
  <%= simple_format startup.pitch.firstletters(100), :class => "vote-summary" %>
  <div class="vote-img">
    <% if startup.avatar? %>
        <%= image_tag startup.avatar.url(:large)%>
    <% else %>
        <img src='/images/profile/Nologo.png'/>
    <% end %>
  </div>

  <% company_descriptions=startup.Companydescriptions[0..2] %>

  <% company_descriptions.each do |description| %>
    <div class="vote-box">
      <div class="action-box">
        <div class="slider-bar" >
          <p style="margin-bottom:10px;">Rate (click on the scale): </p>
          <% if class_name == "class1" %>
            <%= form_tag({:action => 'vote_description', :controller => 'votes'},
                       :multipart => true,
                       :id => "form_"+ description.id.to_s() ,
                       :remote => true) do %>
              <%= hidden_field :vote, :description_id, :value => description.id %>
              <%= hidden_field :vote, :score, :value => 3 %>
              <%= submit_tag 'dfsd', :id => "button_"+ description.id.to_s(), :hidden => 'true' %>
            <% end %>
                <div id="bar_<%=description.id%>" class="progress progress-primary progress-slider"
                     onmousedown="stopSlideVote(<%=description.id%>, this, 277, 115)"
                     onmouseup="startSlideVote(<%=description.id%>, this, 277, 115)">
                  <div id='slider_<%=description.id%>' class='bar'></div>
                </div>
          <% else %>
            <div id="bar_<%=description.id%>" class="progress progress-primary progress-slider">
              <div id='slider_<%=description.id%>' class='bar'></div>
            </div>
          <% end %>
          <div>
            <p>
              <span class='slider-start'>0</span>
              <span class='slider-info' id='info_<%=description.id%>'></span>
              <span class='slider-end'>5</span>
            </p>
          </div>
          <div style="clear:both"></div>
        </div>
        <% if class_name == "class1" %>
          <%= link_to({:controller => "startups", :action => "idea_hatching", :id => params[:id1]},
                      :class => "btn btn-mini btn-primary", :style => "float:right") do %>
              <i class="icon-play glyphw-white "></i> Help hatch it!
          <% end %>
        <% end %>
      </div>
      <b><%= Allfield.find(description.allfield_id).field_name%></b>
      <% if class_name == "class1" %>
            <%= simple_format description.content.firstletters(400), :class => "description-p" %>
      <% else %>
            <%= simple_format description.content.firstletters(300), :class => "description-p" %>
      <% end %>
    </div>
    <div style="clear:right"></div>
  <% end %>

  <% if class_name == "class1" %>
      <%= link_to :action => "vote_next", :id0 => params[:id1], :id1 => params[:id2]  do %>
          <button class="btn btn-warning" style="float:right;margin:10px 5% 0 5%;">Submit</button>
      <% end %>
  <% end %>
</div>
