<div class="vote-frame <%= class_name %>">
  <h2 class="vote-name">
    <% if class_name == "class1" %>
      <%= link_to({:action => "vote_next", :id2 => params[:id1], :id1 => params[:id0]}, :style => "float:left") do %>
        <img src="/images/arrowLeft.png" class="my_corner">
      <% end %>
    <% end %>
    <%= startup.name %>
    <% if class_name == "class1" %>
      <%= link_to({:action => "vote_next", :id0 => params[:id1], :id1 => params[:id2]}, :style => "float:right")  do %>
        <img src="/images/arrowRight.png" class="my_corner">
      <% end %>
    <% end %>
  </h2>
  <%= simple_format startup.pitch.firstletters(100), :class => "vote-summary" %>
  <div class="vote-img">
    <% if startup.avatar? %>
        <%= image_tag startup.avatar.url(:large)%>
    <% else %>
        <img src='/images/profile/Nologo.png'/>
    <% end %>
  </div>

  <% company_descriptions=startup.Companydescriptions.where('status = 1')[0..2] %>

  <% company_descriptions.each do |description| %>
    <div class="vote-box">
      <div class="action-box">
        <div class="slider-bar" >
          <p style="margin-bottom:10px;">Rate (click on the scale): </p>
          <% if class_name == "class1" %>
            <%= form_tag({:action => 'vote_description', :controller => 'votes'},
                       :multipart => true,
                       :id => "form_"+ description.id.to_s() ,
                       :remote => true) do %>
              <%= hidden_field :vote, :description_id, :value => description.id %>
              <%= hidden_field :vote, :score, :value => 0 %>
              <%= hidden_field_tag :startup_id, description.startup_id %>
              <%= submit_tag 'submit', :id => "button_"+ description.id.to_s(), :hidden => 'true' %>
            <% end %>
                <%  final_val = 3 %>
                <div id="bar_<%=description.id%>" class="progress progress-primary progress-slider"
                     onmousedown="stopSlideVote(<%=description.id%>, this, 263, 115)"
                     onmouseup="startSlideVote(<%=description.id%>, this, 263, 115)">
                  <div id='slider_<%=description.id%>' class='bar'></div>
                  <div class="split-bar-div" >
                    <span class = "bar-split"></span>
                    <span class = "bar-split"></span>
                    <span class = "bar-split"></span>
                    <span class = "bar-split"></span>
                    <span class = "bar-split" style="padding-right: 0;"></span>
                  </div>
                </div>
          <% else %>
            <div id="bar_<%=description.id%>" class="progress progress-primary progress-slider">
              <div id='slider_<%=description.id%>' class='bar'></div>
            </div>
          <% end %>
          <div>
            <p>
              <span class='slider-start'>0</span>
              <span class='slider-info' id='info_<%=description.id%>'></span>
              <span class='slider-end'>5</span>
            </p>
          </div>
          <div style="clear:both"></div>
        </div>
      </div>
      <b><%= description.field_status %></b>
      <% if class_name == "class1" %>
            <%= simple_format description.content.firstletters(340), :class => "description-p" %>
      <% else %>
            <%= simple_format description.content.firstletters(340), :class => "description-p" %>
      <% end %>
    </div>
    <div style="clear:right"></div>
  <% end %>

  <% if class_name == "class1" %>
    <div class="vote-nav">
      <%= link_to :action => "vote_next", :id2 => params[:id1], :id1 => params[:id0]  do %>
          <img src="/images/arrowLeft.png" class="my_corner">
      <% end %>
      <%= link_to({:controller => "startups", :action => "idea_hatching", :id => params[:id1]},
                  :class => "btn btn-mini btn-primary") do %>
          <i class="icon-play glyphw-white "></i> Help hatch it!
      <% end %>
      <%= link_to :action => "vote_next", :id0 => params[:id1], :id1 => params[:id2]  do %>
          <img src="/images/arrowRight.png" class="my_corner">
      <% end %>
    </div>
  <% end %>



</div>
