<div class="left-nav">
  <%= link_to :controller => "startups", :action => "vote_lightning" do %>
      <img src="/images/lightning_off.png">
  <% end %>
  <% if session[:connection_type]==2 %>
      <ul>
        <li class="cat-name">Manage your hatch</li>
        <% case params[:action] %>
            <% when "team" %>
                <li>Add Team <span style="margin-left:20px">-></span> </li>
                <li><%= link_to 'Update', {:controller => "startups", :action => "detailed", :id => @startup.id}%></li>
                <li><%= link_to 'Dashboard', {:controller => "startups", :action => "dashboard", :id => @startup.id}%></li>
                <li><%= link_to 'Publish', {:controller => "startups", :action => "circle", :id => @startup.id}%></li>
            <% when "detailed" %>
                <li><%= link_to 'Add Team', {:controller => "startups", :action => "team", :id => @startup.id}%></li>
                <li>Update <span style="margin-left:20px">-></span></li>
                <li><%= link_to 'Dashboard', {:controller => "startups", :action => "dashboard", :id => @startup.id}%></li>
                <li><%= link_to 'Publish', {:controller => "startups", :action => "circle", :id => @startup.id}%></li>
            <% when "circle" %>
                <li><%= link_to 'Add team', {:controller => "startups", :action => "team", :id => @startup.id}%></li>
                <li><%= link_to 'Update', {:controller => "startups", :action => "detailed", :id => @startup.id}%></li>
                <li><%= link_to 'Dashboard', {:controller => "startups", :action => "dashboard", :id => @startup.id}%></li>
                <li>Publish <span style="margin-left:20px">-></span></li>
            <% when "dashboard" %>
                <li><%= link_to 'Add Team', {:controller => "startups", :action => "team", :id => @startup.id}%></li>
                <li><%= link_to 'Update', {:controller => "startups", :action => "detailed", :id => @startup.id}%></li>
                <li>Dashboard <span style="margin-left:20px">-></span></li>
                <li><%= link_to 'Publish', {:controller => "startups", :action => "circle", :id => @startup.id}%></li>
            <% else %>
                <li><%= link_to 'Add Team', {:controller => "startups", :action => "team", :id => @startup.id}%></li>
                <li><%= link_to 'Update', {:controller => "startups", :action => "detailed", :id => @startup.id}%></li>
                <li><%= link_to 'Dashboard', {:controller => "startups", :action => "dashboard", :id => @startup.id}%></li>
                <li><%= link_to 'Publish', {:controller => "startups", :action => "circle", :id => @startup.id}%></li>
        <% end %>
      </ul>
  <% end %>

  <ul>
    <li class="cat-name">Hatch</li>
    <% case params[:action] %>
        <% when "show" %>
            <li>Summary <span style="margin-left:20px">-></span></li>
            <li><%=  link_to 'Lightning vote', {:controller => "startups", :action => "vote_lightning", :id1 => @startup.id }%></li>
            <li><%=  link_to 'A/B testing', {:controller => "startups", :action => "show", :id => @startup.id }%></li>
        <% else %>
            <li><%=  link_to 'Summary', {:controller => "startups", :action => "show", :id => @startup.id }%></li>
            <li><%=  link_to 'Lightning vote', {:controller => "startups", :action => "vote_lightning", :id1 => @startup.id }%></li>
            <li><%=  link_to 'A/B testing', {:controller => "startups", :action => "show", :id => @startup.id }%></li>
    <% end %>


  </ul>
</div>