<div class="left-nav">


  <% if session[:connection_type]==2 %>
      <ul>
        <li class="cat-name"><%= @startup.name%></li>

        <% if params[:action] == "show" %>
            <li>Summary <i class="icon-play glyphw" style="float:right"></i></li>
        <% else %>
            <li><%=  link_to 'Summary', {:controller => "startups", :action => "show", :id => @startup.id }%></li>
        <% end %>

        <% if params[:action] == "team" %>
            <li>Team <i class="icon-play glyphw" style="float:right"></i></li>
        <% else %>
            <li><%= link_to 'Team', {:controller => "startups", :action => "team", :id => @startup.id}%></li>
        <% end %>

        <% if params[:action] == "detailed" %>
            <li>Edit <i class="icon-play glyphw" style="float:right"></i></li>
        <% else %>
            <li><%= link_to 'Edit', {:controller => "startups", :action => "detailed", :id => @startup.id}%></li>
        <% end %>

        <% if params[:action] == "dashboard" %>
            <li>idea Hatching <i class="icon-play glyphw" style="float:right"></i></li>
        <% else %>
            <li><%= link_to 'idea Hatching', {:controller => "startups", :action => "dashboard", :id => @startup.id}%></li>
        <% end %>

        <% if params[:action] == "circle" %>
            <li>Publish <i class="icon-play glyphw" style="float:right"></i></li>
        <% else %>
            <li><%= link_to 'Publish', {:controller => "startups", :action => "circle", :id => @startup.id}%></li>
        <% end %>

        <% if params[:action] == "followers" %>
            <li>Followers <i class="icon-play glyphw" style="float:right"></i></li>
        <% else %>
            <li><%=  link_to 'Followers', {:controller => "startups", :action => "followers", :id => @startup.id }%></li>
        <% end %>


        <li   class="cat-name" style="margin-top:40px;"><%=  link_to 'Other ideas', {:controller => "startups", :action => "index" }%></li>
      </ul>

  <% else %>

      <ul>
        <li class="cat-name"><%= @startup.name%></li>

        <% if params[:action] == "show" %>
            <li>Summary <i class="icon-play glyphw" style="float:right"></i></li>
        <% else %>
            <li><%=  link_to 'Summary', {:controller => "startups", :action => "show", :id => @startup.id }%></li>
        <% end %>

        <% if params[:action] == "idea_hatching" %>
            <li>idea Hatching <i class="icon-play glyphw" style="float:right"></i></li>
        <% else %>
            <li><%=  link_to 'idea Hatching', {:controller => "startups", :action => "idea_hatching", :id => @startup.id }%></li>
        <% end %>

        <% if params[:action] == "followers" %>
            <li>Followers <i class="icon-play glyphw" style="float:right"></i></li>
        <% else %>
            <li><%=  link_to 'Followers', {:controller => "startups", :action => "followers", :id => @startup.id }%></li>
        <% end %>

        <li  class="cat-name" style="margin-top:40px;"><%=  link_to 'Other ideas', {:controller => "startups", :action => "index" }%></li>

      </ul>


  <% end %>
</div>