- case params[:action]
  - when "my_ideas"
    - style_str = "orange"
  - when "following_ideas"
    - style_str = "aqua"
  - else
    - style_str = "green"

.new-view-startup{:onMouseMove => "customHighlightIn(this,'#{style_str}')", :onMouseOut => "customHighlightOut(this)"}
  = link_to (startup) do
    %h5
      - if startup.name.length > 20
        #{startup.name[0..18]}..
      - else
        #{startup.name}
    - if startup.avatar?
      = image_tag startup.avatar.url(:large), :class => "main-logo"
    - else
      = image_tag '/images/no_logo.png', :class => "main-logo"
    = simple_format startup.pitch.firstletters(110)
    - tags = @tags.select {|x| x.startup_id = startup.id}
    - tag_string = ""
    - tags.each do |tag|
      - tag_string += "#" + tag.name + ", "
    - if tag_string.length > 38
      - tag_string = tag_string[0..36] + ".."
    - else
      - if tag_string.length > 0
        -tag_string = tag_string[0..-3]
      - else
        - tag_string = "#new"
    %p.hashtags= tag_string

