<% div_name='project' + startup.id.to_s() %>

<div id="<%= div_name %>" class="startup-frame"
     onMouseMove="MM_changeProp('<%= div_name %>','','backgroundColor','#ecf8ff','DIV')"
     onMouseOut="MM_changeProp('<%= div_name %>','','backgroundColor','white','DIV')">
  <%= link_to (startup) do %>
      <h2><%= startup.name %></h2>

      <% if startup.avatar != nil %>
          <%= image_tag startup.avatar.url(:teaser) %>
      <% else %>
          <img class="thumbnail1" src='/images/profile/Nologo.png' style="float:left;margin-right:10px;">
      <% end %>
      <p><%= simple_format startup.pitch.firstletters(120), :class => "p-content" %></p>
      <p class="hashtag">#design, #data, #cmu</p>
      <p class="vote-stat"><%= rand(150) %> people voted</p>
  <%end%>
</div>




