<% div_name='project' + startup.id.to_s() %>

<div id="<%= div_name %>" class="startup-frame"
     onMouseMove="MM_changeProp('<%= div_name %>','','backgroundColor','#ecf8ff','DIV')"
     onMouseOut="MM_changeProp('<%= div_name %>','','backgroundColor','white','DIV')">
  <%= link_to (startup) do %>
      <% if startup.avatar? %>
          <%= image_tag startup.avatar.url(:large) %>
      <% else %>
          <img src='/images/profile/Nologo.png'>
      <% end %>
      <h2><%= startup.name %></h2>


      <%= simple_format startup.pitch.firstletters(120), :class => "p-content" %>
      <p class="hashtag" style="border:0px;background-color: inherit;">
        <% tags = startup.Tags
        tag_string = ""
        tags.each do |tag|
            tag_string += "#" + tag.name + ", "
        end
        if tag_string.length > 26
          tag_string = tag_string[0..24] + ".."
        else
          if tag_string.length > 0
            tag_string = tag_string[0..-3]
          else
            tag_string = "no hashtags"
          end
        end
        %>
        <%= tag_string %>
      </p>
      <p class="vote-stat"><%= rand(150) %> people voted</p>
  <%end%>
</div>




