<% div_name='project' + startup.id.to_s() %>

<div id="<%= div_name %>" class="startup-frame"
     onMouseMove="MM_changeProp('<%= div_name %>','','backgroundColor','#ecf8ff','DIV')"
     onMouseOut="MM_changeProp('<%= div_name %>','','backgroundColor','white','DIV')">
  <%= link_to (startup) do %>
      <% if startup.avatar %>
          <%= image_tag startup.avatar.url(:large) %>
      <% else %>
          <img src='/images/profile/Nologo.png'>
      <% end %>
      <h2><%= startup.name %></h2>


      <%= simple_format startup.pitch.firstletters(120), :class => "p-content" %>
      <p class="hashtag" style="border:0px;background-color: inherit;">
        <% tags = startup.Tags %>
        <% i=0 %>
        <% tags.each do |tag| %>
            #<%= tag.name %><%= "," if tags.length != i + 1 %>
            <% i += 1 %>
        <% end %>
        <%= "no hashtags" if tags.length == 0 %>
      </p>
      <p class="vote-stat"><%= rand(150) %> people voted</p>
  <%end%>
</div>




