.new-view-content
  %h2 My ideas / #{@startup.name}
  .new-view-company
    .manage-view{:style => "border-bottom:1px #07b5b5 solid;"}
      %h5 Hashtags
      %p This is a simple way to let people know what your idea is about
      = form_tag({:action => "add_tag", :controller => "tags"}, :remote => true, :class => "hashtag_form") do
        = text_field_tag :tag_name
        = hidden_field_tag :id, @startup.id
        = submit_tag "Add", :class => "btn btn-small"
      = form_tag({:action => "delete_tag", :controller => "tags"}, :remote => true, :hidden => "true") do
        = hidden_field_tag :tag_id, 0
        = hidden_field_tag :id, @startup.id
        = submit_tag "delete", :id => "delete_this_tag"
      %hr
      #hashtags
        - @tags.each do |tag|
          %span.hashtags
            = "#" + tag.name
            %span.delete-tag{:onclick => "deleteTag(#{tag.id}, this)"} x

    .manage-view
      %h5 Choose who to share with:
      %p Select people you want to share your idea with to receive feedback and advice.
      :ruby
        circle_type = 0
        circle_type = 3 if @circles.any?{|x| x.id == 0}
        circle_type = 1 if circle_type == 0 and @circles.length > 0
      = form_tag({:action => "add_circle", :controller => "circles"},
                             :remote => 'true',
                             :onclick => 'submitForm(this)') do
        %p
          = radio_button_tag :circle_status, 0, 1 if circle_type == 0
          = radio_button_tag :circle_status, 0 if circle_type != 0
          Do not share yet (you can share it later)
        %p
          = radio_button_tag :circle_status, 1, 1 if circle_type == 1
          = radio_button_tag :circle_status, 1 if circle_type != 1
          Select people yourself
        %p
          = radio_button_tag :circle_status, 2, 1 if circle_type == 2
          = radio_button_tag :circle_status, 2 if circle_type != 2
          Invite 20 random people
        %p
          = radio_button_tag :circle_status, 3, 1 if circle_type == 3
          = radio_button_tag :circle_status, 3 if circle_type != 3
          Share the idea with everyone
        = hidden_field_tag :startup_id, @startup.id
        = submit_tag "submit", :hidden => "true"
      #manual-selection
        -#{:hidden => "#{'true' if [0, 3].include?circle_type}#{'false' if ![0, 3].include?circle_type}"}
        %hr
        #current-circle
          %h4 People you have added:
          - @circles.each do |person|
            %div= link_to(person.firstname + " " + person.lastname,
                                {:controller => "investors", :action => "follower_info",
                                :id => person.id, :action_type => "remove_circle"},
                                :remote => true)
        = form_tag({:action => "search_people", :controller => "investors"},
                                 :remote => true) do
          = text_field_tag :string, "search", :onclick => "clearInput(this)", :onkeyup => "submitForm(this.parentNode)"
          = hidden_field_tag :action_type, "add_circle"
          = submit_tag "submit", :hidden => "true"
        = form_tag({:action => "add_person", :controller => "circles"},
                                 :remote => true,
                                 :hidden => true,
                                 :id => "add_person") do
          = hidden_field_tag :user_id, 0
          = hidden_field_tag :startup_id, @startup.id
          = submit_tag "submit", :hidden => "true"
        = form_tag({:action => "remove_person", :controller => "circles"},
                                 :remote => true,
                                 :hidden => true,
                                 :id => "remove_person") do
          = hidden_field_tag :user_id, 0
          = hidden_field_tag :startup_id, @startup.id
          = submit_tag "submit", :hidden => "true"
        #search-results
      .clear-both

  .team-box
    %h3 Manage my idea
    %p= link_to 'Dashboard', :action => "detailed", :id => @startup.id
    %p= link_to 'Manage team', :action => "team", :id => @startup.id
    %p= link_to 'Share', :action => "circle", :id => @startup.id

  .team-box
    %h3 Team
    #team-list
      - @startup_owners.each do |person|
        = link_to({:controller => "investors", :action => "follower_info", :id => person.id,
                  :action_type => 1}, :remote => true) do
          .person-info
            - if person.avatar?
              = image_tag person.avatar.url(:square)
            - else
              = image_tag "/images/profile/Nophoto.png"
            %h5= person.firstname + " " + person.lastname
            %p Founder
    %hr
    %h3 Followers
    - @startup_followers.each do |person|
      %p #{person.firstname} #{person.lastname}
    - if @startup_followers.length == 0
      %p No followers so far, be the first to follow
  .clear-both

.guideline-menu{:onclick => "showHelp(this)"}
  %i.icon-question-sign.glyphw-white{:style => "float:left;"}
  %h5{:hidden => "true"} What to do here
  %p{:hidden => "true"}
    The more the better.
  %p{:hidden => "true"}
    Select people you want to share the idea with and we will encourage them to give
    the feedback and advice

:javascript
  function deleteTag(id, element){
          document.getElementById("tag_id").value = id;
          element.hidden = true;
          document.getElementById("delete_this_tag").click();
      }


  function addPerson (elementNode, id) {
      var formElement = document.getElementById("add_person");
      var notes = formElement.children;
      for (var i = 0; i < notes.length; i++) {
          if (notes[i].getAttribute('name') == 'user_id') {
              notes[i].value = id;
          }
      }
      submitForm(formElement);
      $('#info_modal').modal('hide');
  }

  function removePerson (elementNode, id) {
      var formElement = document.getElementById("remove_person");
      var notes = formElement.children;
      for (var i = 0; i < notes.length; i++) {
          if (notes[i].getAttribute('name') == 'user_id') {
              notes[i].value = id;
          }
      }
      submitForm(formElement);
      $('#info_modal').modal('hide');
  }
