<%= render "startups/nav" %>

<div class="hatcher-container" xmlns="http://www.w3.org/1999/html">
  <div class="company-main">
      <div class="company-content">
        <% @descriptions.each do |description| %>
            <div class="company-box" id="div_<%= description.id%>">
              <h5><%= description.field_status %></h5>

              <% if description.companydescription_id %>

                <div id="description_<%= description.id%>" class="ab-test">
                    <img src="/images/arrowLeft.png" class="my_corner">

                    <div class="idea-statement current-test">
                        <% old_description = Companydescription.find(description.companydescription_id) %>
                        <%= simple_format old_description.content.firstletters(340),
                                          :class => "p_old" %>
                        <% old_description.approval_status = 0 if !old_description.approval_status %>
                        <p class="approval_status">
                          <%= old_description.approval_status %> like this
                          <span>v. <%= description.created_at.strftime("%m/%d/%Y") %></span>
                        </p>
                    </div>

                    <img src="/images/vs.png" class="my_corner">

                    <div class="idea-statement next-test">
                        <p class="p_new">
                          <%= description.content.firstletters(340) %>
                          <span class="edit-description"><i class=' icon-pencil glyphw' onclick="editStep1(this.parentNode.parentNode)"></i></span>
                        </p>
                        <div class="edit-description-form" hidden>
                          <div name="step1">
                              <p>
                                <input type="radio" name="group<%= description.id%>" value="new_vesrsion" checked> Add new version<br/>
                                <input type="radio" name="group<%= description.id%>" value="this_version"> Correct current version
                              </p>
                              <hr/>
                              <button class="btn btn-mini btn-warning" onclick="editStep2(this)">Next</button>
                              <button class="btn btn-mini" onclick="editCancel(this)">Cancel</button>
                          </div>
                          <div name="step2" hidden>
                            <%= form_tag({:action => "new_suggestion", :controller => "companydescriptions"},
                                         :multipart => true,
                                         :class => "next-test",
                                         :remote => true) do %>
                                <%= hidden_field :companydescription, :companydescription_id, :value => description.id %>
                                <%= hidden_field_tag :change_type, 0 %>
                                <%= text_area :companydescription, :content%>
                                <%= submit_tag 'Save', hidden: "true" %>
                            <% end %>
                            <hr/>
                            <button class="btn btn-mini btn-warning" onclick="submitForm(this.parentNode.childNodes[1])">Save</button>
                            <button class="btn btn-mini" onclick="editCancel(this)">Cancel</button>
                          </div>
                        </div>

                        <% description.approval_status = 0 if !description.approval_status %>
                        <p class="approval_status">
                            <%= old_description.approval_status %> like this
                            <span>v. <%= description.created_at.strftime("%m/%d/%Y") %></span>
                        </p>
                    </div>
                    <div class="my_corner " hidden></div>
                    <div class="clear-both"></div>
                </div>

              <% else %>

                <div id="description_<%= description.id%>" class="ab-test">
                  <div class="my_corner previous-test"></div>
                  <div class="idea-statement current-test">
                    <p class="p_new">
                      <%= description.content.firstletters(340) %>
                      <span class="edit-description"><i class=' icon-pencil glyphw' onclick="editStep1(this.parentNode.parentNode)"></i></span>
                    </p>
                    <div class="edit-description-form" hidden>
                      <div name="step1">
                        <p>
                          <input type="radio" name="group<%= description.id%>" value="new_vesrsion" checked> Add new version<br/>
                          <input type="radio" name="group<%= description.id%>" value="this_version"> Correct current version
                        </p>
                        <hr/>
                        <button class="btn btn-mini btn-warning" onclick="editStep2(this)">Next</button>
                        <button class="btn btn-mini" onclick="editCancel(this)">Cancel</button>
                      </div>

                      <div name="step2" hidden>
                        <%= form_tag({:action => "new_suggestion", :controller => "companydescriptions"},
                                     :multipart => true,
                                     :class => "next-test",
                                     :remote => true) do %>
                            <%= hidden_field :companydescription, :companydescription_id, :value => description.id %>
                            <%= hidden_field_tag :change_type, 0 %>
                            <%= text_area :companydescription, :content%>
                            <%= submit_tag 'Save', hidden: "true" %>
                        <% end %>
                        <hr/>
                        <button class="btn btn-mini btn-warning" onclick="submitForm(this.parentNode.childNodes[1])">Save</button>
                        <button class="btn btn-mini" onclick="editCancel(this)">Cancel</button>
                      </div>
                    </div>

                  </div>
                  <div class="clear-both"></div>
                </div>

              <% end %>

              <%= link_to({:action => 'show_votes', :controller => 'votes',
                                                            :description_id => description.id},
                                      :id => "chart_link" + description.id.to_s(),
                                      :remote => true,
                                      :style => "cursor:pointer; font-size:12px;") do %>
                Show votes<i class=' icon-chevron-down glyphw '></i>
              <% end %> |
              <a onclick="showIdeas(this)" style="cursor:pointer; font-size:12px;">
                Show/add comments<i class=' icon-chevron-down glyphw '></i>
              </a>
              <div id="visualization_<%= description.id%>"></div>
              <div name="ideas" hidden id="following_Idea<%= description.id %>">
                <% @ideas.select{|a| a.companydescription_id == description.id }.each do |idea| %>
                    <%= simple_format idea.content %>
                    <div class="author">
                      <p><%= idea.first_name %> <%= idea.last_name %> on <%= idea.created_at.strftime('%m/%d/%Y') %></p>
                    </div>
                    <hr/>
                <% end %>
                <%= form_tag({:controller => "ideas", :action => "create"},
                             :remote => true) do %>
                    <%= hidden_field :idea, :title, :value => description.field_status %>
                    <%= hidden_field :idea, :is_protected, :value => 0 %>
                    <%= hidden_field :idea, :idea_id, :value => "" %>
                    <%= hidden_field :idea, :startup_id, :value => @startup.id %>
                    <%= hidden_field :idea, :companydescription_id, :value => description.id %>
                    <%= text_area :idea, :content%>
                    <br/>
                    <button class="btn btn-warning">Save</button>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
    <div class="clear-both"></div>
  </div>
</div>

<div class="guideline-menu" onclick="showHelp(this)">
  <i class=' icon-question-sign glyphw ' style="float:left;"></i>
  <h5 hidden>What to do here</h5>
  <p hidden>You can check how people voted and what they suggested regarding your idea.</p>
</div>


<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">

    google.load('visualization', '1', {packages: ['corechart']});

    function editStep1(elementNode) {
        elementNode.parentNode.childNodes[3].hidden = false;
        elementNode.parentNode.childNodes[3].childNodes[1].hidden = false;
        elementNode.parentNode.childNodes[3].childNodes[3].hidden = true;
    }

    function editStep2(elementNode) {
        elementNode.parentNode.hidden = true;
        var formNode = elementNode.parentNode.parentNode.childNodes[3];
        formNode.hidden = false;

        var pNew = elementNode.parentNode.parentNode.parentNode.getElementsByClassName('p_new')[0];

        if (elementNode.parentNode.getElementsByTagName("input")[0].checked == true){
            formNode.getElementsByTagName('textarea')[0].value = "";
            formNode.getElementsByTagName('input')[3].value = "1";
        } else {
            formNode.getElementsByTagName('textarea')[0].value = pNew.innerText;
            formNode.getElementsByTagName('input')[3].value = "0";
        }
    }

    function editCancel(elementNode) {
        elementNode.parentNode.parentNode.hidden = true;
        elementNode.parentNode.hidden = true;
    }


    function showIdeas(elementNode) {
        notes = elementNode.parentNode.children;
        for (var i = 0; i < notes.length; i++) {
            if (notes[i].getAttribute('name') == "ideas") {
                ideasDiv = notes[i];
            }
        }
        if (ideasDiv.hidden == true) {
            elementNode.innerHTML = "Hide comments<i class='icon-chevron-up glyphw'></i>";
            ideasDiv.hidden = false;
        } else {
            elementNode.innerHTML = "Show/add comments<i class=' icon-chevron-down glyphw '></i>";
            ideasDiv.hidden = true;
        }
    }

    function showVotes(elementNode, id) {
        ideasDiv = document.getElementById('visualization_' + id)
        if (ideasDiv.hidden == true) {
            elementNode.innerHTML = "Hide votes<i class='icon-chevron-up glyphw'></i>";
            ideasDiv.hidden = false;
        } else {
            elementNode.innerHTML = "Show votes<i class=' icon-chevron-down glyphw '></i>";
            ideasDiv.hidden = true;
        }
    }

</script>