.new-view-content
  %h2 My ideas / #{@startup.name}
  .new-view-company
    .pitch-box
      %h2.main-name{:id => "main-name"}
        %span= @startup.name
        %span
          %i.icon-pencil.glyphw{:onclick => "editName(this.parentNode)"}
        = form_tag({:action => 'update_name', :controller => "campaigns"},
                                   :remote => true, :hidden => true) do
          = text_field_tag :name, @startup.name
          = hidden_field_tag :id, @startup.id
          %br
          = submit_tag "Save", :class => "btn btn-small btn-warning"
      - if @startup.avatar?
        = image_tag @startup.avatar.url(:large), :class => "main-logo"
      - else
        = image_tag '/images/profile/Nologo.png', :class => "main-logo"

    .clear-both
    #main-description.description-box
      %p
        =@startup.pitch.firstletters(500)
        %i.icon-pencil.glyphw{:onclick => "editDescription(this.parentNode.parentNode)"}
      = form_tag({:action => 'update_description', :controller => "campaigns"},
                             :remote => true, :hidden => true) do
        = hidden_field_tag :id, @startup.id
        = text_area_tag :pitch, @startup.pitch
        %br
        = submit_tag "Save", :class => "btn btn-small btn-warning"

    - @company_descriptions.each do |description|
      = render :partial => 'description', :locals => {:description => description}

  .team-box
    %h3 Manage my idea
    %p= link_to 'Dashboard', :action => "detailed", :id => @startup.id
    %p= link_to 'Manage team', :action => "team", :id => @startup.id
    %p= link_to 'Share', :action => "circle", :id => @startup.id

  .team-box
    %h3 Team
    - @startup_owners.each do |person|
      %p #{person.firstname} #{person.lastname}
    %hr
    %h3 Followers
    - @startup_followers.each do |person|
      %p #{person.firstname} #{person.lastname}
    - if @startup_followers.length == 0
      %p No followers so far, be the first to follow

  .clear-both


:javascript
  function hideHatching(elementNode,linkNode){
    if (elementNode.hidden == true){
      elementNode.hidden = false;
      linkNode.innerHTML = linkNode.innerHTML.replace("Help hatch it!", "Hide dashboard...");
      animationCustom(elementNode,"height", 0, elementNode.offsetHeight, 0);
    } else {
      linkNode.innerHTML = linkNode.innerHTML.replace("Hide dashboard...", "Help hatch it!");
      animationCustom(elementNode,"height", elementNode.offsetHeight, 0, 1);
    }
  }
  function editName(elementNode){
      elementNode.parentNode.children[0].hidden = true;
      elementNode.parentNode.children[1].hidden = true;
      elementNode.parentNode.children[2].hidden = false;
  }
  function editDescription(elementNode) {
      elementNode.children[0].hidden = true;
      elementNode.children[1].hidden = false;
  }
