<%= render "startups/nav" %>


<div class="hatcher-container">
  <div class="company-main">
    <div class="company-left">
      <div class="company-content">
      <% @descriptions.each do |description| %>
        <div class="company-box">
          <%= form_tag({:action => 'update_description', :controller => "companydescriptions"},
                       :multipart => true,
                       :remote => true) do %>
            <% allfield =  Allfield.find(description.allfield_id)   %>
            <h5><%= allfield.field_name   %></h5>
            <%= select(:description, :field_status, options_from_collection_for_select(allfield.Fieldstates, :field_status, :field_status, description.field_status)) %>
            <%= hidden_field :description, :allfield_id, :value => allfield.id %>
            <%= hidden_field :description, :id, :value => description.id %>
            <%= text_area :description, :content, :value => description.content %>
            <p>Describe your product and specify your product stage</p>
            <%= submit_tag "Save", :class => "btn btn-small" %>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>



    <div class="clear-both"></div>
  </div>
</div>



