<%= render "startups/nav" %>


<div class="hatcher-container">
  <div class="company-main">
    <div class="company-left">
      <div class="company-content">
        <div class="company-box">
            <% if @startup.errors[:avatar].length > 0 %>
                <p style="color:red">Photo was not upload, probably wrong file format. Please try again</p>
            <% end %>
            <% if @startup.avatar? %>
                <%= image_tag @startup.avatar.url(:large), :class=>"main-logo" %>
            <% else %>
              <img src='/images/profile/Nologo.png' class = "main-logo">
            <% end %>
            <h2 id="main-name" class="main-name">
                <span><%= @startup.name %></span>
                <span><i class=' icon-pencil glyphw-white' onclick="editName(this.parentNode)"></i></span>
                <%= form_tag({:action => 'update_name', :controller => "campaigns"},
                           :remote => true, :hidden => true) do %>
                  <span><%= text_field_tag :name, @startup.name %></span>
                  <span><%= submit_tag "Save", :class => "btn btn-small btn-warning" %></span>
                <% end %>
            </h2>
            <a href="#uploadPhoto" role="button" class="btn btn-mini btn-warning" style="color:white" data-toggle="modal">Update photo</a>
          <div style="clear:both"></div>
        </div>
        <div id="main-description" class="company-box">
            <h5>
              <span>Description</span>
              <span class="edit-button"><i class=' icon-pencil glyphw' onclick="editDescription(this.parentNode.parentNode, this.parentNode)"></i></span>
            </h5>
            <%= simple_format @startup.pitch %>
            <%= form_tag({:action => 'update_description', :controller => "campaigns"},
                       :remote => true, :hidden => true) do %>
              <p>One sentence description of what your idea does:</p>
              <%= text_area_tag :pitch, @startup.pitch %>
              <%= submit_tag "Save", :class => "btn btn-small btn-warning" %>
            <% end %>
        </div>
      </div>
      <% @company_descriptions.each do |description| %>
          <div class="company-box">
              <h5><%= description.field_status %></h5>
              <% if description != nil %>
                  <p><%= description.content %></p>
              <% else %>
                  <p style="color:red">- no description - </p>
              <% end %>
          </div>
      <% end %>

    </div>
    <div class="company-right">
        <div class="company-info">
          <h4>Team</h4>
          <%= render :partial => 'investors/person', :collection => @startup_owners, :locals => { :action_type => nil, :status => 1} %>
          <% if session[:connection_type]==2 %>
              <%= link_to 'Add more people >', {:controller => "startups", :action => "team", :id => params[:id]},
                          :class => "bottom-link" %>
          <% end %>
        </div>
        <div class="company-info">
          <h4>Followers</h4>
          <%= render :partial => 'investors/person', :collection => @startup_followers[0..7], :locals => { :action_type => nil, :status => 0} %>
          <%= link_to 'See all followers >', {:controller => "startups", :action => "followers", :id => @startup.id}, :class => "bottom-link" %>
        </div>
    </div>


    <div class="clear-both"></div>
  </div>
</div>



<div id="uploadPhoto" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Upload photo or logo</h3>
  </div>
  <%= form_tag({:action => "upload_logo", :controller => "campaigns"},
            :multipart => true) do %>
      <div class="modal-body">
        <%= file_field_tag :avatar, :onchange => "checkFile(this)"%>
        <%= hidden_field_tag :back_action, "detailed"%>
        <p id="photo_error" style="color:red"></p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary"  id="photo_upload" disabled>Upload photo</button>
      </div>
  <% end %>
</div>


<script language="javascript">
    function checkFile(elementNode){
        var fileInput = elementNode;
        var fileName = fileInput.value;
        var ext = fileName.substring(fileName.lastIndexOf('.') + 1);
        if(ext == "gif" || ext == "GIF" || ext == "JPEG" || ext == "jpeg" || ext == "jpg" || ext == "JPG" || ext == "png" || ext == "PNG") {
            document.getElementById('photo_error').innerText = "";
            document.getElementById('photo_upload').disabled = false;
        }
        else
        {
            document.getElementById('photo_error').innerText = "Upload Gif or Jpg images only";
            document.getElementById('photo_upload').disabled = true;
            fup.focus();
        }
    }

    function editName(elementNode) {
        elementNode.parentNode.children[0].hidden = true;
        elementNode.parentNode.children[1].hidden = true;
        elementNode.parentNode.children[2].hidden = false;
    }

    function editDescription(elementNode, childNode) {
        childNode.hidden = true;
        elementNode.parentNode.children[1].hidden = true;
        elementNode.parentNode.children[2].hidden = false;
    }

</script>


