<div class="left-nav">
  <%= link_to :controller => "startups", :action => "vote_lightning" do %>
      <img src="/images/lightning_off.png">
  <% end %>
  <%= form_tag({:action => "search_startups"}, :remote => true) do %>
      <%= text_field_tag :string, "search", :onclick => "clearInput(this)", :onkeyup => "submitForm(this.parentNode)" %>
      <%= submit_tag "Submit", :hidden => true %>
  <% end %>
  <ul>
    <% if session[:id] and session[:id] != 0 %>
      <% if params[:action] == "your_ideas" %>
        <li class="cat-name" style="margin-bottom:20px;color:inherit">Your ideas <i class="icon-play glyphw" style="float:right"></i></li>
      <% else %>
        <li  class="cat-name" style="margin-bottom:20px;"><%=  link_to 'Your ideas', {:action => "your_ideas"}%></li>
      <% end %>
      <% if params[:action] == "your_following_ideas" %>
          <li class="cat-name" style="margin-bottom:20px;color:inherit">you follow <i class="icon-play glyphw" style="float:right"></i></li>
      <% else %>
          <li  class="cat-name" style="margin-bottom:20px;"><%=  link_to 'ideas you follow', {:action => "your_following_ideas"}%></li>
      <% end %>
    <% end %>

    <li class="cat-name">Hashtags</li>
    <% @categories.each do |tag| %>
        <li>
          <%= link_to(:action => "hashtag", :tag => tag) do %>
              #<%= tag %>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>


<div class="hatcher-container">
  <div class="company-main">
    <div class="company-left">
      <%= link_to "See all New Ideas >", {:controller => "startups"}, :class => "more-startups"%>
      <% case params[:action] %>
        <% when "hashtag" %>
            <h1 class="page-title">#<%= params[:tag] %></h1>
        <% when "your_ideas" %>
          <h1 class="page-title">Your ideas</h1>
        <% when "your_following_ideas" %>
          <h1 class="page-title">ideas you follow</h1>
        <% else %>
          <h1 class="page-title">Popular Ideas</h1>
      <% end %>

      <div id="startup-results">
        <%= render :partial =>  "startup", :collection => @startups[0..8] %>
      </div>
      <div class="startup-holder"></div>
    </div>
    <div class="clear-both"></div>
  </div>
</div>

<div class="clear-both"></div>




