<div class="left-nav">
  <%= link_to :controller => "startups", :action => "vote_lightning" do %>
      <img src="/images/lightning_off.png">
  <% end %>
  <%= form_tag({:action => "search_startups"}, :remote => true) do %>
      <%= text_field_tag :string, "search", :onclick => "clearInput(this)", :onkeyup => "submitForm(this.parentNode)" %>
      <%= submit_tag "Submit", :hidden => true %>
  <% end %>
  <ul>
    <li class="cat-name">Hashtags</li>
    <% @categories.each do |tag| %>
        <li>
          <%= link_to(:action => "hashtag", :tag => tag) do %>
              #<%= tag %>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>


<div class="hatcher-container">
  <div class="company-main">
      <% case params[:action] %>
        <% when "hashtag" %>
            <h1 class="page-title">#<%= params[:tag] %></h1>
        <% when "my_ideas" %>
          <h1 class="page-title">My ideas</h1>
        <% when "following_ideas" %>
          <h1 class="page-title">Following</h1>
        <% else %>
          <h1 class="page-title">Popular Ideas</h1>
      <% end %>

      <div id="startup-results">
        <%= render :partial =>  "startup", :collection => @startups %>
        <% if params[:action] == "index" and @startups_shown != 0%>
          <div>
            <div class="clear-both"></div>
            <%= link_to({:action => "show_more_startups", :startups_shown => @startups_shown},
                       :class => "show-more", :remote => true) do %>
                <i class='icon-chevron-down glyphw'></i>Show more<i class='icon-chevron-down glyphw'></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="clear-both"></div>
  </div>
</div>


<div class="guideline-menu" onclick="showHelp(this)">
  <i class=' icon-question-sign glyphw ' style="float:left;"></i>
  <h5 hidden>What to do here</h5>
  <p hidden>Browse ideas and help hatch them</p>
  <p hidden>You can browse all ideas on the platform, pick those by category and hashtags or just search for a particular idea</p>
  <p hidden>You also can turn on the lightning mode to compare the ideas</p>
</div>




