.new-view-content
  .new-view-company
    %h2.page-title
      - case params[:action]
        - when "hashtag"
          Hashtags / ##{params[:tag]}
        - when "my_ideas"
          My ideas
        - when "following_ideas"
          Following
        - else
          Hatching in progress
          %p{:style => "margin:20px 0; line-height:20px"}
            Check out all these awesome ideas contributed by our Hatchers! Feel free to search by trending topics or
            recently active ideas. Once you find an idea that interests you, vote on the problem, solution, and business
            plan. You can even add your suggestions and feedback.
    .search-nav
      -#%h3{:style => "float:right;"} Hashtags:
      -# - @categories.each do |tag|
      -#  %p= link_to "#" + tag, :action => "hashtag", :tag => tag
      = form_tag({:action => "search_startups"}, :remote => true) do
        = text_field_tag :string, "search", :onclick => "clearInput(this)", :onkeyup => "submitForm(this.parentNode)"
        = submit_tag "Submit", :hidden => true


    #startup-results.new_view
      - @startups.each do |startup|
        = render :partial => 'startup', :locals => {:startup => startup}
      - if params[:action] == "index" and @startups_shown != 0
        :ruby
          startup_list = ""
          @startups.each do |startup|
            startup_list += startup.id.to_s() + ","
          end
          startup_list = startup_list[0..-2]
        = link_to({:action => "show_more_startups", :startups_shown => @startups_shown, :startup_list => startup_list},
                             :class => "show-more custom-button", :style => "font-weight: lighter;", :remote => true) do
          %i.icon-chevron-down.glyphw
          Show more
          %i.icon-chevron-down.glyphw
    .clear-both



