document.getElementsByClassName('page-title')[0].innerHTML = "Search results";
var mainDiv = document.getElementById("startup-results");
mainDiv.innerHTML = "";

<% @startups.each do |startup| %>
    <% div_name = 'project' + startup.id.to_s() %>

    var startupDiv = document.createElement("div");
    startupDiv.onmousemove = function() { MM_changeProp('<%= div_name %>','','backgroundColor','#ecf8ff','DIV'); };
    startupDiv.onmouseout = function() { MM_changeProp('<%= div_name %>','','backgroundColor','white','DIV'); };

    startupDiv.setAttribute("id", "project<%= startup.id %>");
    startupDiv.setAttribute("class", "new-view-startup");

    startupDiv.innerHTML = "<a href='<%= startup.id %>'></a>";
    <% if startup.avatar? %>
        htmlText = '<%= image_tag startup.avatar.url(:large), :class => "main-logo" %>';
    <% else %>
        htmlText = '<img src="/images/profile/Nologo.png"  class="main-logo">';
    <% end %>

    htmlText = htmlText + "<h5><%= startup.name %></h5>";
    htmlText = htmlText + '<p><%= startup.pitch.firstletters(120) %></p>';


    <% tags = startup.Tags
    tag_string = ""
    tags.each do |tag|
        tag_string += "#" + tag.name + ", "
    end
    if tag_string.length > 30
      tag_string = tag_string[0..28] + ".."
    else
      if tag_string.length > 0
        tag_string = tag_string[0..-3]
      else
        tag_string = "no hashtags"
      end
    end
    %>

    htmlText = htmlText + '<p class="hashtags"><%= tag_string%></p>';


    startupDiv.firstChild.innerHTML = htmlText;
    mainDiv.appendChild(startupDiv);

<% end %>


if (mainDiv.innerHTML == "") {
    mainDiv.innerHTML = "<p>no results</p>";
};


