.new-view-content
  .new-view-company
    .pitch-box
      - if @startup.avatar?
        = image_tag @startup.avatar.url(:large), :class => "main-logo"
      - else
        = image_tag '/images/profile/Nologo.png', :class => "main-logo"
      - if session[:connection_type] == 1
        = link_to 'Unfollow', {:controller => 'investors', :action => 'follow_company', :id => @startup.id},
                                :class => 'startup-button custom-button',
                                :id => 'follow_btn',
                                :remote => true,
                                :style => "float:right"
      - else
        = link_to 'Follow', {:controller => 'investors', :action => 'follow_company', :id => @startup.id},
                                :class => 'startup-button custom-button',
                                :id => 'follow_btn',
                                :remote => true,
                                :style => "float:right"

      %h2.main-name{:style => "font-weight: lighter;"}= @startup.name
      = simple_format h @startup.pitch.firstletters(500)
    .clear-both

    .description-box
      %h5{:style => "font-weight:lighter"} Meet the Team
      #team-list
        - @startup_owners.each do |person|
          = link_to({:controller => "investors", :action => "follower_info", :id => person.id,
                    :action_type => 1}, :remote => true) do
            .person-info
              - if person.avatar?
                = image_tag person.avatar.url(:square)
              - else
                = image_tag "/images/profile/Nophoto.png"
              %p
                %span{:style => "font-weight:normal"}= person.firstname + " " + person.lastname
                %br
                Founder
              .clear-both
        .clear-both
    - @company_descriptions.each do |description|
      = render :partial => 'description', :locals => {:description => description}

.featured-ideas
  - Startup.where("status > 1").sample(3).each do |startup|
    = render :partial =>  "startups/startup", :locals => {:startup => startup}
  %p= link_to 'See all ideas', {:controller => 'startups', :action => "index"}, :class => "custom-button"
  .clear-both

:javascript
  function voteThis(elementNode){
    notes = elementNode.parentNode.getElementsByClassName("idea-statement");
        for (var i = 0; i < notes.length; i++) {
            notes[i].style.boxShadow = "";
            notes[i].style.backgroundColor = "#e4e4e4";
        }

    elementNode.style.boxShadow = "3px 3px 0px #888888";
    elementNode.style.backgroundColor = "#8a969a";
  }
  function rateThis(elementNode, vote, formId){
    notes = elementNode.parentNode.children;
    for (var i = 0; i < notes.length; i++) {
        notes[i].onmousemove = function(){customHighlightIn(this)};
        notes[i].onmouseout = function(){customHighlightOut(this)};
        notes[i].style.backgroundColor = "inherit";
    }
    elementNode.style.backgroundColor = "#94d500";
    elementNode.removeAttribute("onMouseOut");
    elementNode.removeAttribute("onMouseMove");

    document.getElementById('form_'+ formId).querySelector("#vote_score").value = vote ;
    $('#button_'+ formId).click()

  }
