
var mainDiv = document.getElementById("startup-results");

var moreLink = mainDiv.getElementsByClassName("show-more")[0];

<% @startups.each do |startup| %>

    <% div_name = 'project' + startup.id.to_s() %>

    var startupDiv = document.createElement("div");
    startupDiv.onmousemove = function() { MM_changeProp('<%= div_name %>','','backgroundColor','#ecf8ff','DIV'); };
    startupDiv.onmouseout = function() { MM_changeProp('<%= div_name %>','','backgroundColor','white','DIV'); };

    startupDiv.setAttribute("id", "project<%= startup.id %>");
    startupDiv.setAttribute("class", "new-view-startup");



    startupDiv.innerHTML = "<a href='<%= startup.id %>'></a>";
    <%
    if startup.name.length > 20
        startup_name = startup.name[0..20] + ".."
    else
        startup_name = startup.name
    end
    %>
    htmlText = "<h5><%= startup_name %></h5>";
    <% if startup.avatar? %>
    htmlText = htmlText + '<%= image_tag startup.avatar.url(:large), :class => "main-logo" %>';
    <% else %>
    htmlText = htmlText + '<img src="/images/profile/Nologo.png"  class="main-logo">';
    <% end %>

    <%  content_string = ""
    startup.pitch.gsub(/\r\n?/, '\n').split("\n").each do |text_string|
        content_string += text_string + ' '
    end
    content_string = content_string[0..-2]
    %>

    htmlText = htmlText + '<p><%= content_string.firstletters(120) %></p>';


    <% tags = startup.Tags
    tag_string = ''
    tags.each do |tag|
        tag_string += '#' + tag.name + ', '
    end
    if tag_string.length > 30
      tag_string = tag_string[0..28] + '..'
    else
      if tag_string.length > 0
        tag_string = tag_string[0..-3]
      else
        tag_string = '#new'
      end
    end
    %>

    htmlText = htmlText + "<p class='hashtags'><%= tag_string%></p>";


    startupDiv.firstChild.innerHTML = htmlText;
    mainDiv.insertBefore(startupDiv, moreLink);
<% end %>

<% if @startups_shown == 0 %>
    moreLink.parentNode.removeChild(moreLink);
<% else %>
    <%
       startup_list = params[:startup_list] + ","
       @startups.each do |startup|
         startup_list += startup.id.to_s() + ","
       end
       startup_list = startup_list[0..-2]
    %>
    moreLink.setAttribute("href", "/startups/show_more_startups?startups_shown=<%= @startups_shown %>;startup_list=<%= startup_list %>");
<% end %>
if (mainDiv.innerHTML == "") {
    mainDiv.innerHTML = "<p>no results</p>";
};


