<%= render "startups/nav" %>


<div class="hatcher-container">
    <div class="company-main">
      <div class="company-left">
        <div class="company-box">
            <% if @startup.avatar? %>
                <%= image_tag @startup.avatar.url(:large), :class => "main-logo"%>
            <% else %>
                <img src='/images/profile/Nologo.png' class = "main-logo">
            <% end %>
            <h2 class="main-name">
              <%= @startup.name %>
            </h2>
          <div style="clear:both"></div>
        </div>

        <div class="company-content">
          <div class="company-box">
              <p><%= simple_format h @startup.pitch.firstletters(350) %></p>
          </div>

          <% @company_descriptions.each do |description| %>
              <div class="company-box">
                <div class="action-box" >
                  <div class="slider-bar" >
                      <p style="margin-bottom:10px;">Rate (click on the scale): </p>
                      <%= form_tag({:action => 'vote_description', :controller => 'votes'},
                                   :multipart => true,
                                   :id => "form_"+ description.id.to_s() ,
                                   :remote => true) do %>
                          <%= hidden_field :vote, :description_id, :value => description.id %>
                          <%= hidden_field :vote, :score, :value => 3 %>
                          <%= submit_tag 'submit', :id => "button_"+ description.id.to_s(), :hidden => 'true' %>
                      <% end %>
                      <div id="bar_<%=description.id%>" class="progress progress-primary progress-slider"
                           onmousedown="stopSlideVote(<%=description.id%>, this, 105, 160)"
                           onmouseup="startSlideVote(<%=description.id%>, this, 105, 160)">
                        <div id='slider_<%=description.id%>' class='bar'></div>
                      </div>
                      <div>
                        <p>
                          <span class='slider-start'>0</span>
                          <span class='slider-info' id='info_<%=description.id%>'></span>
                          <span class='slider-end'>5</span>
                        </p>
                      </div>
                    <div class="clear-both"></div>
                  </div>
                  <div class="slider-bar new-box" >
                    <%= link_to({:controller => "startups", :action => "idea_hatching", :id => params[:id]},
                              :class => "btn btn-mini btn-primary") do %>
                      <i class="icon-play glyphw-white "></i> Help hatch it!
                    <% end %>
                    <div class="clear-both"></div>
                  </div>
                  <div class="clear-both"></div>
                </div>



                <h5><%= description.field_status %></h5>
                <% if description != nil %>
                    <p><%= description.content %></p>
                <% else %>
                    <p style="color:red">- no description - </p>
                <% end %>
                <div class="clear-both"></div>
              </div>
          <% end %>

          <div class="company-box">
            <h5>News</h5>
            <div id="teaser-text">
              <% if @startup_updates == nil || @startup_updates.count == 0  %>
                  <p>Company has not posted news so far... </p>
              <% end %>
              <%= render :partial => 'companyupdates/news', :collection => @startup_updates %>
            </div>

            <% if session[:connection_type]==2 %>
                <%= form_for(@companyupdate) do |f| %>
                    <%
                       title_class = ""
                       content_class = ""
                       title_border = ""
                       content_border = ""
                       if @companyupdate.errors[:title].length > 0
                         title_class= "style='color:red'"
                         title_border = "border-color:red"
                       end
                       if @companyupdate.errors[:content].length > 0
                         content_class= "style='color:red'"
                         content_border = "border-color:red"
                       end
                    %>
                    <table>
                      <tr>
                        <th <%= title_class %> >Title</th>
                        <th <%= content_class %> >Content</th>
                      </tr>
                      <tr>
                        <td><%= f.text_field :title, :class => "span2", :style => title_border %></td>
                        <td><%= f.text_field :content, :class => "span6", :style => content_border %></td>
                      </tr>
                    </table>
                    <button id="next-company" class="btn btn-primary">Save</button>
                <% end %>
            <% end %>
          </div>

        </div>
    </div>



      <div class="company-right">
        <%= link_to 'Follow',
                    {:controller => 'investors', :action => 'follow_company'},
                    :class => 'btn btn-warning',
                    :id => 'follow_btn',
                    :remote => true %>
        <div class="company-info">
          <h4>Team</h4>
          <%= render :partial => 'investors/person', :collection => @startup_owners, :locals => { :action_type => nil, :status => 1} %>
          <% if session[:connection_type]==2 %>
            <%= link_to 'Add more people >', {:controller => "startups", :action => "team", :id => params[:id]},
                                        :class => "bottom-link" %>
          <% end %>
        </div>
        <div class="company-info">
          <h4>Followers</h4>
          <%= render :partial => 'investors/person', :collection => @startup_followers[0..7], :locals => { :action_type => nil, :status => 0} %>
          <%= link_to 'See all followers >', {:controller => "startups", :action => "followers", :id => @startup.id}, :class => "bottom-link" %>
        </div>
      </div>
    <div class="clear-both"></div>
    </div>
</div>



