<div class="left-nav">
  <%= link_to :controller => "startups", :action => "vote_lightning" do %>
      <img src="/images/lightning_off.png">
  <% end %>
  <%= form_tag(:action => "search_startups", :remote => true) do %>
      <%= text_field_tag :string, "search", :onclick => "clearInput(this)" %>
      <%= submit_tag "Submit", :hidden => true %>
  <% end %>
  <ul>
    <li class="cat-name">Categories</li>
    <li>Advertising</li>
    <li>Audio + Media</li>
    <li>Education</li>
    <li>Enterprise Service</li>
    <li>Finance</li>
    <li>Gaming</li>
    <li>Social Media</li>
  </ul>
  <ul>
    <li class="cat-name">Location / Origin</li>
    <li>CMU</li>
    <li>Pittsburgh</li>
    <li>Bay Area</li>
    <li>Stanford</li>
    <li>New York</li>
    <li>Boston</li>
  </ul>
</div>


<div class="hatcher-container">
    <div class="company-main">
      <div class="company-left">
        <div class="company-box">
            <% if @startup.avatar? %>
                <%= image_tag @startup.avatar.url(:large), :class => "main-logo"%>
            <% else %>
                <img src='/images/profile/Nologo.png' class = "main-logo">
            <% end %>
            <h2 class="main-name"
                style = "background: linear-gradient(to top right, rgba(<%=100 +rand(155)%>,<%=100 +rand(155)%>,<%=100 +rand(155)%>, 1),  rgba(255, 255, 255, 1));">
              <%= @startup.name %>
              <% if session[:connection_type]==2 %>
                  <%= link_to(:controller => "campaigns", :action => "basic_step" ) do %>
                      <button class="btn btn-small btn-primary">Update Info</button>
                  <% end %>
              <% end %>
            </h2>
          <div style="clear:both"></div>
        </div>

        <div class="company-content">
            <div class="company-box">
              <p><%= simple_format h @startup.pitch.firstletters(350) %></p>
            </div>
            <% @company_descriptions.each do |description| %>
              <div class="company-box">
                  <h5><%= Allfield.find(description.allfield_id).field_name %>:
                    <% if description != nil %>
                        <%= description.field_status %></h5>
                    <% else %>
                        - no information - </h5>
                    <% end %>
                  <% if description != nil %>
                        <p><%= description.content %></p>
                  <% else %>
                        <p style="color:red">- no description - </p>
                  <% end %>
              </div>
            <% end %>
          <div class="company-box">
            <h5>News</h5>
            <div id="teaser-text">
              <% if @startup_updates == nil || @startup_updates.count == 0  %>
                  <p>Company has not posted news so far... </p>
              <% end %>
              <%= render :partial => 'companyupdates/news', :collection => @startup_updates %>
            </div>

            <% if session[:connection_type]==2 %>
                <%= form_for(@companyupdate) do |f| %>
                    <%
                       title_class = ""
                       content_class = ""
                       title_border = ""
                       content_border = ""
                       if @companyupdate.errors[:title].length > 0
                         title_class= "style='color:red'"
                         title_border = "border-color:red"
                       end
                       if @companyupdate.errors[:content].length > 0
                         content_class= "style='color:red'"
                         content_border = "border-color:red"
                       end
                    %>
                    <table>
                      <tr>
                        <th <%= title_class %> >Title</th>
                        <th <%= content_class %> >Content</th>
                      </tr>
                      <tr>
                        <td><%= f.text_field :title, :class => "span2", :style => title_border %></td>
                        <td><%= f.text_field :content, :class => "span6", :style => content_border %></td>
                      </tr>
                    </table>
                    <button id="next-company" class="btn btn-primary">Save</button>
                <% end %>
            <% end %>

          </div>
        </div>
      </div>
      <div class="company-right">
        <%= link_to 'Follow',
                    {:controller => 'authentications', :action => 'checklogin',
                                :gotocontroller => 'investors', :gotoaction => 'followcompany'},
                    :class => 'btn btn-warning' %>
        <div class="company-info">
          <h4>Team</h4>
          <%= render :partial => 'investors/person', :collection => @startup_owners, :local => {:owner => 1} %>
          <% if session[:connection_type]==2 %>
            <%= link_to 'Add more people >', {:controller => "startups", :action => "team", :id => params[:id]},
                                        :class => "bottom-link" %>
          <% end %>
        </div>
        <div class="company-info">
          <h4>Followers</h4>
          <%= render :partial => 'investors/person', :collection => @startup_followers[0..7] %>
          <%= link_to 'See all followers >', {:controller => "investors", :action => "people"}, :class => "bottom-link" %>
        </div>
      </div>
    <div class="clear-both"></div>
    </div>
</div>



