<%= render "startups/nav" %>

<div class="hatcher-container">
  <div class="company-main">
    <div class="company-left">
      <div class="company-box">
        <h4>Add founders to your team by selecting them:</h4>
        <%= form_tag({:action => "search_people", :controller => "investors"},
                     :remote => true) do %>
            <%= text_field_tag :string, "search", :onclick => "clearInput(this)", :onkeyup => "submitForm(this.parentNode)" %>
            <%= submit_tag "submit", :hidden => "true" %>
        <% end %>
      </div>
      <%= form_tag({:action => "add_founder", :controller => "investors"},
                   :remote => true,
                   :id => "add_founder",
                   :hidden => true) do %>
        <%= hidden_field_tag :founder_id, 0 %>
        <%= submit_tag "submit" %>
      <% end %>
      <%= form_tag({:action => "remove_founder", :controller => "investors"},
                   :remote => true,
                   :id => "remove_founder",
                   :hidden => true) do %>
          <%= hidden_field_tag :founder_id, 0 %>
          <%= submit_tag "submit" %>
      <% end %>
      <div id="search-results" class="company-box">
      </div>
    </div>


    <div class="company-right">
      <div id="team" class="company-info">
        <h4>Team</h4>
        <%= render :partial => "investors/person", :collection => @startup_owners,
                   :locals => {:action_type => "remove_team", :status => 1} %>
      </div>

    </div>
    <div class="clear-both"></div>
  </div>
</div>


<script>
  function addPerson (elementNode, id) {
      var formElement = document.getElementById("add_founder");
      var notes = formElement.children;
      for (var i = 0; i < notes.length; i++) {
          if (notes[i].getAttribute('name') == 'founder_id') {
              notes[i].value = id;
          }
      }
      submitForm(formElement);
      $('#info_modal').modal('hide');
  }

  function removePerson (elementNode, id) {
      var formElement = document.getElementById("remove_founder");
      var notes = formElement.children;
      for (var i = 0; i < notes.length; i++) {
          if (notes[i].getAttribute('name') == 'founder_id') {
              notes[i].value = id;
          }
      }
      submitForm(formElement);
      $('#info_modal').modal('hide');
  }

</script>


