<div class="left-nav">
  <%= link_to :controller => "startups", :action => "vote_lightning" do %>
      <img src="/images/lightning_off.png">
  <% end %>
  <%= form_tag(:action => "search_startups", :remote => true) do %>
      <%= text_field_tag :string, "search", :onclick => "clearInput(this)" %>
      <%= submit_tag "Submit", :hidden => true %>
  <% end %>
  <ul>
    <li class="cat-name">Categories</li>
    <li>Advertising</li>
    <li>Audio + Media</li>
    <li>Education</li>
    <li>Enterprise Service</li>
    <li>Finance</li>
    <li>Gaming</li>
    <li>Social Media</li>
  </ul>
  <ul>
    <li class="cat-name">Location / Origin</li>
    <li>CMU</li>
    <li>Pittsburgh</li>
    <li>Bay Area</li>
    <li>Stanford</li>
    <li>New York</li>
    <li>Boston</li>
  </ul>
</div>


<div class="hatcher-container">
  <div class="company-main">
    <div class="company-left">
      <div class="company-box">
        <h4>Add founders to your team by selecting them (up to 3 at a time):</h4>
        <%= form_tag({:action => "search_people", :controller => "investors"},
                     :remote => true) do %>
            <%= text_field_tag :string, "search", :onclick => "clearInput(this)", :onkeyup => "submitForm(this)" %>
            <%= submit_tag "submit", :id => "people-search-form", :hidden => "true" %>
        <% end %>
      </div>
      <%= form_tag({:action => "add_founder", :controller => "investors"},
                   :remote => true) do %>
        <%= hidden_field_tag :founder1, 0 %>
        <%= hidden_field_tag :founder2, 0 %>
        <%= hidden_field_tag :founder3, 0 %>
        <%= submit_tag "Add selected", :class => "btn btn-warning" %>
      <% end %>
      <div id="search-results" class="company-box">
        <% @people.each do |person| %>
            <div class="person-info" onclick="addPerson(this,<%= person.id %>)">
              <% if  person.avatar? %>
                  <img src='<%= person.avatar.url(:square) %>' >
              <% else %>
                  <img src='/images/profile/Nophoto.png'>
              <% end %>
              <h5><%= person.firstname %>  <%= person.lastname %></h5>
              <div class="clear-both"></div>
            </div>
         <% end %>
      </div>
    </div>


    <div class="company-right">
      <div class="company-info">
        <h4>Team</h4>
        <%= render :partial => 'investors/person', :collection => @startup_owners, :local => {:owner => 1} %>
        <% if session[:connection_type]==2 %>
            <%= link_to 'Add more people >', {:controller => "startups", :action => "team", :id => params[:id]},
                        :class => "bottom-link" %>
        <% end %>
      </div>

    </div>
    <div class="clear-both"></div>
  </div>
</div>


<script>
  function submitForm (formName) {
      $('#people-search-form').click();
  }
  function addPerson (elementNode, id) {
      var founder1 = document.getElementById("founder1");
      var founder2 = document.getElementById("founder2");
      var founder3 = document.getElementById("founder3");

      if (id == founder1.value || id == founder2.value || id == founder3.value ) {
          elementNode.style.background = "white";
          if (founder1.value == id) { founder1.value=0; }
          if (founder2.value == id) { founder2.value=0; }
          if (founder3.value == id) { founder3.value=0; }
      } else {
          flag = 0;
          if (founder1.value == 0) {
              founder1.value=id;
              flag=1;
          } else {
              if (founder2.value == 0) {
                  founder2.value=id;
                  flag=1;
              } else {
                  if (founder3.value == 0) {
                      founder3.value=id;
                      flag=1;
                  }
              }
          }
          if (flag == 1) {
            elementNode.style.background = "rgb(190, 250, 255)";
          }
      }
  }


</script>


