<div class="lightning-left">
    <div class="lightning-company-pic">

      <% if @startup.avatar? %>
          <%= image_tag @startup.avatar.url(:large)%>
      <% else %>
          <img src='/images/profile/Nologo.png'/>
      <% end %>
      <h2 class="company-name">
        <%= @startup.name %>
      </h2>
      <div style="clear:both"></div>
    </div>

    <div class="lightning-description">
      <div class="content-text">
        <%= simple_format h @startup.pitch.firstletters(350) %>
      </div>
      <%= render :partial => 'companyteams/employee_short', :collection => @startup_teams %>
    </div>
</div>
<div class="lightning-right">
  <% @company_descriptions.each do |description| %>
    <div class="lightning-box">
      <b><%= Allfield.find(description.allfield_id).field_name%></b>
      <hr/>


      <div class="slider-bar" >
          <p style="margin-bottom:10px;">Rate (click on the scale below): </p>
          <%= form_tag({:action => 'vote_description', :controller => 'votes'},
                            :multipart => true,
                            :id => "form_"+ description.id.to_s() ,
                            :remote => true) do %>
              <%= hidden_field :vote, :description_id, :value => description.id %>
              <%= hidden_field :vote, :score, :value => 3 %>
              <%= submit_tag 'dfsd', :id => "button_"+ description.id.to_s(), :hidden => 'true' %>
          <% end %>
          <div id="bar_<%=description.id%>" class="progress progress-primary progress-slider"
                   onmousedown="stopSlideLightning('<%=description.id%>')"
                   onmouseup="startSlideLightning('<%=description.id%>')">
            <div id='slider_<%=description.id%>' class='bar'></div>
          </div>

          <div>
            <p><span class='slider-start'>0</span>
                    <span class='slider-info' id='info_<%=description.id%>'></span>
                    <span class='slider-end'>5</span></p>
          </div>
          <div style="clear:both"></div>
          <a href='/ideas/idea_test?id=7' style="padding:10px;">Learn more / add suggestion</a>
      </div>
      <%= simple_format h description.content %>
    </div>
  <% end %>

  <%= link_to :action => "vote_next", :id => params[:id] do %>
      <h4 class="next-link" id="next-link"
          onMouseMove="MM_changeProp('next-link','','backgroundColor','lightgrey','DIV')"
          onMouseOut="MM_changeProp('next-link','','backgroundColor','white','DIV')">
        Next startup >
      </h4>
  <% end %>

  <%= link_to :controller => "startups" do %>
      <h4 class="exit-link" id="exit-link"
          onMouseMove="MM_changeProp('exit-link','','backgroundColor','lightgrey','DIV')"
          onMouseOut="MM_changeProp('exit-link','','backgroundColor','white','DIV')">
        Exit
      </h4>
  <% end %>

</div>
