var divName = 'project<%= params[:id]%>';
var elementId = '<%= params[:type]%>_' + divName;

document.getElementById('like_'+ divName).disabled = false;
document.getElementById('not_clear_'+ divName).disabled = false;
document.getElementById('dislike_'+ divName).disabled = false;
document.getElementById('like_'+ divName).className = "btn btn-mini";
document.getElementById('not_clear_'+ divName).className = "btn btn-mini";
document.getElementById('dislike_'+ divName).className = "btn btn-mini";

document.getElementById(elementId).disabled = true;
document.getElementById(elementId).className = "btn btn-mini btn-primary";

var modalBody = document.getElementById('modal-body-like');
modalBody.innerHTML = "";

<% @company_descriptions.each do |description|%>
    var newDiv = document.createElement("div");

    var newSliderBar = document.createElement("div");
    newSliderBar.className = "slider-bar";
    newSliderBar.onmouseup = function() { stopSlide('<%=description.id%>'); };
    newSliderBar.onmousedown = function() {startSlide('<%=description.id%>'); };
    newSliderBar.innerHTML = "<p>Rate (click on the scale below): </p>";

    var newBar = document.createElement("div");
    newBar.id = 'bar_<%=description.id%>';
    newBar.className = "progress progress-primary progress-slider";
    newBar.innerHTML = "<div id='slider_<%=description.id%>' class='bar'></div>";

    newSliderBar.appendChild(newBar);


    var newScale = document.createElement("div");
    newScale.innerHTML = "<p><span class='slider-start'>0</span>" +
                        "<span class='slider-info' id='info_<%=description.id%>'></span>" +
                        "<span class='slider-end'>5</span></p>";

    newSliderBar.appendChild(newScale);
    newDiv.appendChild(newSliderBar);

    newContent = document.createElement("div");
    <% content_string = ""
    description.content.split("\n").each do |text_string|
       content_string = content_string + " " + text_string
    end %>

    newContent.innerHTML =  "<h5><%=description.field_status%></h5>" +
                            "<p><%= content_string.html_safe %></p>" +
                            "<div style='clear:both'></div><hr/>";

    newDiv.appendChild(newContent);
    modalBody.appendChild(newDiv);

<% end %>

$('#modal_like').modal('show');
