<div class="left-nav">
  <%= link_to :controller => "startups", :action => "index" do %>
      <img src="/images/lightning_on.png">
  <% end %>
  <ul>
    <li class="cat-name">Hashtags</li>
    <% @categories.each do |tag| %>
        <li>
          <%= link_to(:action => "hashtag", :tag => tag) do %>
              #<%= tag %>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>

<div class="hatcher-container" style="min-height: 840px;">
    <%= render :partial =>  'startups/lightning_company',
                    :locals => {:startup => @startups[0], :class_name => "class0"} %>
    <%= render :partial =>  'startups/lightning_company',
                    :locals => {:startup => @startups[1], :class_name => "class1"} %>
    <%= render :partial =>  'startups/lightning_company',
                 :locals => {:startup => @startups[2], :class_name => "class2"} %>
    <div class="clear-both"></div>
</div>
