<%= form_tag(:action => 'create', :multipart => true) do %>

    <% if @authentication.errors[:username].length > 0 %>
        <p style="color:red">Email:</p>
        <%= text_field :authentication, :username, :style => "border-color:red"  %>
        <span style="font-size:12px;color:red"> <%= @authentication.errors[:username].to_s.split('"')[1] %></span>
    <% else %>
        <p>Email:</p>
        <%= text_field :authentication, :username %>
    <% end %>

    <% if @authentication.errors[:password].length > 0 %>
        <p style="color:red">Password:</p>
        <%= password_field :authentication, :password, :style => "border-color:red"  %>
        <span style="font-size:12px;color:red"> <%= @authentication.errors[:password].to_s.split('"')[1] %></span>
    <% else %>
        <div class="field">
            <p>Password:</p>
            <%= password_field :authentication, :password %>
        </div>
    <% end %>

    <% if @authentication.errors[:password].length > 0 %>
        <p style="color:red">Confirm password:</p>
        <%=password_field :ll, :password_confirmation, :style => "border-color:red"  %>
    <% else %>
        <div class="field">
            <p>Password Confirm:</p>
            <%= password_field :ll, :password_confirmation %>
        </div>
    <% end %>

    <% if @user != nil%>
        <% if @user.errors[:firstname].length > 0 %>
            <p style="color:red">First Name</p>
            <%=text_field :user,:firstname, :style => "border-color:red"  %>
            <span style="font-size:12px;color:red"> <%= @user.errors[:firstname].to_s.split('"')[1] %></span>
        <% else %>
            <div class="field">
                <p>First Name:</p>
                <%= text_field :user, :firstname %>
            </div>
        <% end %>

        <% if @user.errors[:lastname].length > 0 %>
            <p style="color:red">Last Name</p>
            <%=text_field :user,:lastname, :style => "border-color:red"  %>
            <span style="font-size:12px;color:red"> <%= @user.errors[:lastname].to_s.split('"')[1] %></span>

        <% else %>
            <div class="field">
                <p>Last Name:</p>
                <%= text_field :user, :lastname %>
            </div>
        <% end %>


    <%  else %>
        <div class="field">
          <p>First Name:</p>
          <%= text_field :user, :firstname %>
        </div>
        <div class="field">
          <p>Last Name:</p>
          <%= text_field :user, :lastname %>
        </div>

    <% end %>

    <%= submit_tag 'Create account', class: "custom-button" %>

<% end %>