<div class="hatcher-container">
  <div class="company-main">
    <div class="company-left">

    <% if params[:email] != nil %>
       <p>You password was sent to <%= params[:email][:address] %>. If you do not get an email in 10 minutes, please contact us.</p>
       <%= link_to "Login", :action => "login" %>
    <% else %>
        <%= form_tag :action => "forgot_password" do%>
            <h5>Please enter your email and we will send you password</h5>
            <p><%= text_field :email, :address %></p>
            <%= submit_tag 'Send password', class: "btn btn-primary"%>
            <a href = "javascript:history.back()">Go back</a>
        <% end %>
    <% end %>

    </div>
    <div class="clear-both"></div>
  </div>
</div>
