<div style="float:left; width:350px; margin:100px">
    <h3>Please login to proceed</h3>

    <%= form_tag params.merge(:action => 'process_login') do %>
        <p>Email:<br />
        <%= text_field "authentication", "username" %></p>
        <p>Password:<br />
        <%= password_field "authentication", "password" %></p>
        <p><%= link_to "Forgot password", :action => "forgot_password" %></p>
        <%= submit_tag 'Login',class: "btn btn-primary"%>
        <!--<a href = "javascript:history.back()">Go back</a>-->
    <% end %>
</div>

<div style="float:left; width:300px">
    <h3>New to Capital Round?</h3>
    <p>Please fill out the following form</p>
    <%= render 'form' %>
</div>
