var newUl = document.createElement("ul");
newUl.className = "user-nav nav nav-pills";


var liVote = document.createElement("li");
liVote.className = "dropdown custom-dropdown"
liVote.innerHTML = '<%= link_to "Vote", :action => "vote_lightning", :controller => "startups" %>';
newUl.appendChild(liVote);


var liFeedback = document.createElement("li");
liFeedback.className = "dropdown custom-dropdown"
liFeedback.innerHTML = '<%= link_to "Feedback", :action => "vote_lightning", :controller => "startups" %>';
newUl.appendChild(liFeedback);


var liHatch = document.createElement("li");
liHatch.className = "dropdown custom-dropdown"
liHatch.innerHTML = '<%= link_to "My hatch", :action => "vote_lightning", :controller => "startups" %>';
newUl.appendChild(liHatch);


var newLi = document.createElement("li");
newLi.className = "dropdown"

<% if @user.avatar? %>
    newLi.innerHTML = "<a class='dropdown-toggle' data-toggle='dropdown' href='#'  style='height: 12px;'>" +
                        '<%= image_tag @user.avatar.url(:thumb), :class => "img-rounded-small" %>' +
                        "<b class='caret'></b></a>";
<% else %>
    newLi.innerHTML = "<a class='dropdown-toggle' data-toggle='dropdown' href='#'  style='height: 12px;'>" +
                        '<%= image_tag '/images/profile/Nophoto.png', :class => 'img-rounded-small' %>' +
                        "<b class='caret'></b></a>";
<% end %>

var newMenu = document.createElement("ul");
newMenu.className = "dropdown-menu";
<% owner_number = @user.Owners.count %>
<% if owner_number != 0 %>

<% else %>

<% end %>

newMenu.innerHTML = '<hr />' +
        '<li role="presentation"><%= link_to 'Update profile', :controller => 'users', :action => 'edit',
                                                :id => @user.id %></li>' +
        '<li role="presentation"><%= link_to 'Change password', :controller => 'users', :action => 'change_password',
                                                :id => @user.id %></li>' +
        '<hr />' +
        '<li role="presentation"><%= link_to 'Logout', :controller => 'authentications', :action => 'logout' %></li>';

newLi.appendChild(newMenu);
newUl.appendChild(newLi);

var loginNav = document.getElementById("login-nav");
loginNav.parentNode.replaceChild(newUl, loginNav);



$('#login_modal').modal('hide');

