<div class="navbar navbar-inverse" style="background-color: #1b1b1b;">
  <div class="navbar-inner">
    <ul class="nav">

<% if params[:action] == 'ideas' %>
    <li  class="active">
<% else %>
    <li>
<% end %>
        <%= link_to 'Discussions', :action => 'ideas', :controller => "users", :id => params[:id]%>
    </li>
<% if params[:controller] == 'startups' and params[:action] == 'index'%>
        <li  class="active">
<% else %>
        <li>
<% end %>
          <%= link_to 'Companies/Ideas', :action => 'index', :controller => "users", :controller => "startups" %>
        </li>


<% if session[:id] and session[:id] !=0 %>
    <% if params[:controller] == 'users' and params[:action] == 'index' %>
            <li  class="active">
    <% else %>
            <li>
    <% end %>
                <%= link_to 'Notification', :action => 'index', :controller => "users", :id => session[:id]%>
            </li>
    <% if params[:action] == 'invest' %>
            <li  class="active">
    <% else %>
            <li>
    <% end %>
                <%= link_to 'Portfolio', :action => 'invest', :controller => "users", :id => session[:id] %>
            </li>
    <% if params[:action] == 'follow' %>
              <li  class="active">
    <% else %>
              <li>
    <% end %>
          <%= link_to 'Following', :action => 'follow', :controller => "users", :id => session[:id] %>
          </li>
    <% if session[:owner_type] == 1 and params[:action] == 'edit' and params[:controller] == "users" %>
          <li  class="active">
            <%= link_to 'Update profile', :action => 'edit', :controller => "users", :id => session[:id] %>
          </li>
    <% end %>
    <% if session[:owner_type] == 1 and params[:action] == 'change_password' %>
          <li  class="active">
            <%= link_to 'Change password', :action => 'change_password', :controller => "users", :id => session[:id] %>
          </li>
    <% end %>
<% end %>

    </ul>
   </div>
</div>
