.user-content
  %h5 Update password
  .profile-photo
    - if @user.avatar?
      = image_tag @user.avatar.url(:square), :class => "img-rounded-teaser"
    - else
      %img{:src => '/images/profile/Nophoto.png', :class => "img-rounded-teaser"}

  .profile-info
    = form_tag(:action => 'update_password', :controller => 'authentications', :multipart => true) do
      -if !flash[:error].nil?
        %p{:style => "color:red"}= flash[:error]
      %p New password:
      = password_field :new,:password
      %p Confirm new password:
      = password_field :new,:confirm_password
      %p Old password:
      = password_field :old,:password
      %br
      %button.btn.btn-warning Save
