<%= render 'usernav' %>
<div class="container">
    <%= render 'teaser' %>

    <%= form_tag(:action => 'update_password', :controller => 'authentications', :multipart => true) do %>
        <h3>Update your password</h3>
        <span style="color:red"><%= flash[:error] %></span>
        <p>New password:</p>
        <%= password_field :new,:password %>
        <p>Confirm new password:</p>
        <%= password_field :new,:confirm_password %>
        <p>Old password:</p>
        <%= password_field :old,:password%>
        <p><button id="next-company" class="btn btn-primary">Save</button></p>
    <% end %>

</div>


