<%= render "users/nav" %>


<div class="hatcher-container">
  <div class="company-main">
    <div class="company-left">
      <div class="company-box">

        <h3>Update your password</h3>

        <%= form_tag(:action => 'update_password', :controller => 'authentications', :multipart => true) do %>

            <span style="color:red"><%= flash[:error] %></span>
            <p>New password:</p>
            <%= password_field :new,:password %>
            <p>Confirm new password:</p>
            <%= password_field :new,:confirm_password %>
            <p>Old password:</p>
            <%= password_field :old,:password%>
            <p><button id="next-company" class="btn btn-warning">Save</button></p>
        <% end %>

      </div>
    </div>
    <div class="clear-both"></div>

    <div class="guideline-menu" onclick="showHelp(this)">
      <i class=' icon-question-sign glyphw ' style="float:left;"></i>
      <h5 hidden>What to do here</h5>
      <p hidden>Update your profile and password. People would love to learn more about you</p>
    </div>

  </div>
</div>

