<%= render "users/nav" %>


<div class="hatcher-container">
  <div class="company-main">
    <div class="company-left">
      <div class="company-box">
        <h3>Your discussions</h3>
        <% @ideas.each do |idea| %>
            <% div_name='Idea' + idea.id.to_s() %>
            <div id="<%= div_name %>" class="idea">
              <div class="startup-content" id="<%= div_name %>"
                    onMouseMove="MM_changeProp('<%= div_name %>','','backgroundColor','#ecf8ff','DIV')"
                    onMouseOut="MM_changeProp('<%= div_name %>','','backgroundColor','white','DIV')">
                <%= link_to(:controller => "startups", :action => 'show', :id => idea.startup_id) do %>
                    <% startup = Startup.find(idea.startup_id) %>
                    <% if startup.avatar != nil %>
                        <%= image_tag startup.avatar.url(:teaser) %>
                    <% else %>
                        <img class="thumbnail1" src='/images/profile/Nologo.png'>
                    <% end %>
                    <h5><%= startup.name %></h5>
                    <div id="<%= div_name %>_info" hidden=true>
                        <p><%= simple_format h startup.pitch.firstletters(120) %></p>
                    </div>
                <% end %>
              </div>

              <div class="idea-content">
                <div class="comment">
                    <h5>
                      <% if idea.title == nil || idea.title == ""  %>
                        Open discussion
                      <% else %>
                        <%=  idea.title %>
                      <% end %>
                    </h5>
                    <p><%=  idea.content %></p>
                    <p class="author"><%=idea.first_name %> <%= idea.last_name %> on
                        <%= idea.created_at.strftime('%m/%d/%Y') %>
                    </p>
                    <hr/>
                    <div id="following_<%= div_name %>"></div>
                </div>

                <%= link_to :action => 'show_idea', :controller => 'ideas',
                        :id => idea.id,
                        :idea_id => idea.idea_id,
                        :remote => true do %>
                    <img id="show_link_<%= div_name %>" src="/images/blue_arrow.png" style="width: 12px">
                <% end %>

                <a id="<%= div_name %>_invert_1" hidden=true onclick="showHiddenIdeas('<%= div_name %>')">
                    See all ideas in this discussion
                    <img src="/images/blue_arrow.png" style="width: 12px">
                </a>
                <a id="<%= div_name %>_1" hidden=true onclick="showHiddenIdeas('<%= div_name %>')">
                    Hide other ideas in this discussion
                    <img src="/images/blue_arrow_up.png" style="width: 12px; ">
                </a>
                <span style="margin:0 10px;">|</span>
                <a id="<%= div_name %>_comment_invert_1" onclick="showHiddenForm('<%= div_name %>_comment')">
                    Add your idea/comment
                    <img src="/images/blue_arrow.png" style="width: 12px">
                </a>
                <a id="<%= div_name %>_comment_1" hidden=true onclick="showHiddenForm('<%= div_name %>_comment')">
                    Clear your idea/comment
                    <img src="/images/blue_arrow_up.png" style="width: 12px">
                </a>
                <div id="<%= div_name %>_comment_form" hidden=true>
                    <hr />
                    <%= form_tag({:action => "create", :controller => "ideas"},
                           :remote => true,
                           :multipart => true) do %>
                      <%= hidden_field :idea, :is_protected, :value => idea.is_protected %>
                      <%= hidden_field :idea, :idea_id, :value => idea.idea_id %>
                      <%= hidden_field :idea, :title, :value => idea.title %>
                      <%= hidden_field :idea, :startup_id, :value => idea.startup_id %>
                      <%= text_area :idea, :content%>
                      <%= submit_tag 'Save', class: "btn btn-small",
                                 style: "color: #f88a00;margin-top:0px;height:26px;width:80px;"%>
                    <% end %>
                </div>
              </div>
              <div style="clear:both"></div>
            </div>
        <% end %>
      </div>
    </div>
    <div class="clear-both"></div>
  </div>
</div>
