<%= render "users/nav" %>

<div class="container">
  <%= link_to({:controller => "campaigns", :action => "guide_step"}, :class => "button-next btn") do %>
    <p>Start new idea...</p>
    <%= image_tag "/images/how_it_works_2.png" %>
  <% end %>
  <%= link_to({:controller => "startups", :action => "index"}, :class => "button-next btn") do %>
    <p>Browse other ideas...</p>
    <%= image_tag "/images/how_it_works_4.png" %>
  <% end %>
</div>

