.user-content
  %h5 Notifications
  - if !@notifications or @notifications.length == 0
    %p You don't have new notifications
  - else
    - @notifications.each do |notification|
      - case notification.event_type
        - when 1
          %p
            You were added to the team of #{Startup.find(notification.event_id).name}
            |
            = link_to "Confirm", {:action => "confirm_founder",
                                :controller => "investors",
                                :startup_id => notification.event_id,
                                :notification_id => notification.id},
                                :remote => true,
                                :id => "notification" + notification.id.to_s()

        - when 2
          %p
            You were removed from the team of #{Startup.find(notification.event_id).name}
            |
            = link_to "Ok", {:action => "check_notification",
                                :controller => "notifications",
                                :id => notification.id},
                                :remote => true,
                                :id => "notification" + notification.id.to_s()


  %hr
  %h5 My discussions
  - @ideas.each do |idea|
    - div_name='Idea' + idea.id.to_s()
    = link_to({:controller => "startups", :action => 'show', :id => idea.startup_id},
                    :onMouseMove => "MM_changeProp('" + div_name + "','','backgroundColor','#ecf8ff','DIV')",
                    :onMouseOut => "MM_changeProp('" + div_name + "','','backgroundColor','white','DIV')") do
      .idea{:id => "#{div_name}"}
        .idea-startup
          - startup = Startup.find(idea.startup_id)
          - if startup.avatar != nil
            = image_tag startup.avatar.url(:teaser)
          - else
            %img.thumbnail1{:src => '/images/profile/Nologo.png'}
          %h5 #{startup.name}
        .idea-content
          %h5
            - if idea.title == nil || idea.title == ""
              Open discussion
            - else
              #{idea.title}
          %hr
          %p= idea.content
          %p.author by #{idea.first_name} #{idea.last_name} on #{idea.created_at.strftime('%m/%d/%Y')}
        .clear-both