<%= render :partial =>  "startups/demo_startup", :collection => @startups %>

<% if !session[:id] or session[:id] == 0 %>
    <div class="home-signup">
      <%= render 'authentications/clean_join_form' %>
    </div>
<% end %>

<div class="clear-both"></div>


<div class="how-it-works">
  <h2>What is ideaHatcher?</h2>
  <div class="content-grey">
    <div class="left-side">
      <p>
        ideaHatcher is the place for entrepreneurs to share their ideas with the community and get
        valuable feedback
      </p>
    </div>
    <div class="right-side">
      <%= image_tag "/images/how_it_works_1.png" %>
    </div>
  </div>
  <div class="content-white">
    <div class="left-side">
      <%= image_tag "/images/how_it_works_2.png" %>
    </div>
    <div class="right-side">
      <p>
        It’s as simple as telling us your problem, solution, and business plan. Then choose who to share with
      </p>
    </div>
  </div>
  <div class="content-grey">
      <div class="left-side">
        <p>
          Other entrepreneurs rate and give feedback on the different parts of your idea.
          You can improve the idea and get feedback again
        </p>
      </div>
      <div class="right-side">
        <%= image_tag "/images/how_it_works_3.png" %>
      </div>
  </div>
  <div class="content-white">
    <div class="left-side">
      <%= image_tag "/images/how_it_works_4.png" %>
    </div>
    <div class="right-side">
      <p>
        Having a large community ensures you’ll get lots of valuable feedback from people in many different sectors
      </p>
    </div>
  </div>

</div>
</div>
