<div style="min-width: 880px;">
  <%= render :partial =>  "startups/demo_startup", :collection => @startups %>
</div>

<% if !session[:id] or session[:id] == 0 %>
    <div class="home-signup">
      <%= render 'authentications/clean_join_form' %>
    </div>
<% end %>

<div class="clear-both"></div>


<div class="how-it-works">
  <h2>What is ideaHatcher?</h2>
  <div class="content-grey">
    <div class="left-side">
      <p>
        Share your ideas with a community <br/>
        of entrepreneurs and get valuable feedback.
      </p>
    </div>
    <div class="right-side">
      <%= image_tag "/images/how_it_works_1.png" %>
    </div>
  </div>
  <div class="content-white">
    <div class="left-side">
      <%= image_tag "/images/how_it_works_2.png" %>
    </div>
    <div class="right-side">
      <p>
        Tell us about your idea's problem, solution, <br/>
        and business plan, then choose who to share it with.
      </p>
    </div>
  </div>
  <div class="content-grey">
      <div class="left-side">
        <p>
          Other entrepreneurs rate and give feedback on <br/>
          your idea's problem, solution and business plan. <br/>
          Improve your idea and repost to get feedback again.
        </p>
      </div>
      <div class="right-side">
        <%= image_tag "/images/how_it_works_3.png" %>
      </div>
  </div>
  <div class="content-white">
    <div class="left-side">
      <%= image_tag "/images/how_it_works_4.png" %>
    </div>
    <div class="right-side">
      <p>
        A large community of entrepreneurs from <br/>
        many different sectors ensures you’ll get <br/>
        lots of valuable feedback to hatch your idea.
      </p>
    </div>
  </div>

</div>
</div>
