var mainDiv = document.getElementById("team-list");
mainDiv.innerHTML ="";

<% if !@people || @people.length == 0 %>
  mainDiv.innerHTML ="<p>No team specified</p>";
<% end %>

<% @people.each do |person| %>
    var newA = document.createElement("a");
    newA.setAttribute("href", "/investors/follower_info?id=<%= person.id %>&action_type=remove_team");
    newA.setAttribute("data-remote", "true");
    <% if person.avatar? %>
        newA.innerHTML = '<div class="person-info-manage">'+
            '<%= image_tag person.avatar.url(:square) %>'+
            '<h5><%= person.firstname%> <%=person.lastname%></h5>'</div>';
    <% else %>
        newA.innerHTML = '<div class="person-info">'+
            '<%= image_tag "/images/profile/Nophoto.png" %>'+
            '<h5><%= person.firstname%> <%=person.lastname%></h5>'</div>';
    <% end %>

mainDiv.appendChild(newA);

<% end %>