var mainDiv = document.getElementById("team");
mainDiv.innerHTML ="<h4>Team</h4>";

<% if !@people || @people.length == 0 %>
  mainDiv.innerHTML ="<p>No team specified</p>";
<% end %>

<% @people.each do |person| %>
    var newDiv = document.createElement("div");
    <% if person.avatar? %>
        newDiv.innerHTML = '<div class="person-info" onclick="removePerson(this,<%= person.id %>)">'+
            '<%= image_tag person.avatar.url(:square) %>'+
            '<h5><%= person.firstname%> <%=person.lastname%></h5>'+
            '<p>Founder</p></div>';
    <% else %>
        newDiv.innerHTML = '<div class="person-info"  onclick="removePerson(this,<%= person.id %>)">'+
            '<%= image_tag "/images/profile/Nophoto.png" %>'+
            '<h5><%= person.firstname%> <%=person.lastname%></h5>'+
            '<p>Founder</p></div>';
    <% end %>

mainDiv.appendChild(newDiv);

<% end %>