var mainDiv = document.getElementById("search-results");
mainDiv.innerHTML ="";

<% if !@people || @people.length == 0 %>
  mainDiv.innerHTML ="<p>No results</p>";
<% end %>

<% @people.each do |person| %>
  var newA = document.createElement("a");
  newA.setAttribute("href", "/investors/follower_info?id=<%= person.id %>&action_type=<%= params[:action_type] %>");
  newA.setAttribute("data-remote", "true");

  <% if person.avatar? %>
    newA.innerHTML = '<div class="person-info" >'+
                     '<%= image_tag person.avatar.url(:square) %>'+
                     '<h5><%= person.firstname%> <%=person.lastname%><div class="clear-both"></div></h5>'+
                     '<div class="clear-both"></div></div>';
  <% else %>
    newA.innerHTML = '<div class="person-info" >'+
        '<%= image_tag "/images/no_profile_picture_" + (person.id % 4 + 1).to_s + ".png" %>'+
        '<h5><%= person.firstname%> <%=person.lastname%><div class="clear-both"></div></h5>'+
        '</div>';
  <% end %>

  mainDiv.appendChild(newA);

<% end %>
