
<table>
  <tr>
    <th>Startup</th>
    <th>User</th>
    <th>Sum</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @investors.each do |investor| %>
  <tr>
    <td><%= investor.startup_id %></td>
    <td><%= investor.user_id %></td>
    <td><%= investor.sum %></td>
    <td><%= link_to 'Show', investor %></td>
    <td><%= link_to 'Edit', edit_investor_path(investor) %></td>
    <td><%= link_to 'Destroy', investor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Investor', new_investor_path %>
