<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <ul class="nav">
      <li <%= "class=active" if params[:action] == 'guide_step' %> ><a href="#">1. Guidelines</a></li>
      <li <%= "class=active" if params[:action] == 'basic_step' %> ><a href="#">2. Basic info</a></li>
      <li <%= "class=active" if params[:action] == 'about_step' %> ><a href="#">3. Details</a></li>
      <li <%= "class=active" if params[:action] == 'circles_step' %> ><a href="#">4. Publish</a></li>
      <li <%= "class=active" if params[:action] == 'review_step' %> ><a href="#">5. Review</a></li>
    </ul>
  </div>
</div>