<%= render "nav" %>

<div class="hatcher-container">
  <div class="company-main">
    <div class="company-left">
      <div class="company-box"> <h5>About company</h5></div>

      <%= form_tag(:action => 'description_step', :multipart => true) do %>
        <ol>
          <div class="company-box">
            <li>
              <h4>Company image  <a href="#uploadPhoto" role="button" class="btn btn-mini" data-toggle="modal">Update Photo</a></h4>
              <% if @startup.errors[:avatar].length > 0 %>
                  <p style="color:red">Photo was not upload, probably wrong file format. Please try again</p>
              <% end %>
              <% if @startup.avatar? %>
                  <%= image_tag @startup.avatar.url(:large), :style=>"margin-bottom:20px " %>
              <% else %>
                  <img src='/images/profile/Nologo.png' class = "main-logo">
              <% end %>
            </li>
          </div>
          <div class="company-box">
            <li>
              <% allfield =  Allfield.find(@companydescriptions1.allfield_id)   %>
              <h4><%= allfield.field_name   %></h4>
              <%= hidden_field :companydescriptions1, :field_status, :value => allfield.field_name %>
              <%= hidden_field :companydescriptions1, :allfield_id, :value => allfield.id %>
              <p>
                Tell us about the problem that you are trying to solve. Who are your customers and why this problem is
                important for them:
              </p>
              <%= text_area :companydescriptions1, :content %>
            </li>
          </div>
          <div class="company-box">
            <li>
              <% allfield =  Allfield.find(@companydescriptions2.allfield_id)   %>
              <h4><%= allfield.field_name   %></h4>

              <%= hidden_field :companydescriptions2, :field_status, :value => allfield.field_name %>
              <%= hidden_field :companydescriptions2, :allfield_id, :value => allfield.id %>
              <p>How your idea will solve the problem, how is it different from other solutions:</p>
              <%= text_area :companydescriptions2,:content %> </p>
            </li>
          </div>
          <div class="company-box">
            <li>
              <% allfield =  Allfield.find(@companydescriptions3.allfield_id)   %>
              <h4><%= allfield.field_name   %></h4>
              <%= hidden_field :companydescriptions3, :field_status, :value => allfield.field_name %>
              <%= hidden_field :companydescriptions3, :allfield_id, :value => allfield.id %>
              <p>
                Describe how your idea creates, delivers, and captures value. How do you plan to generate revenue
                from your idea:
              </p>
              <%= text_area :companydescriptions3,:content %> </p>
            </li>
          </div>
        </ol>
        <button id="next-step" class="btn btn-warning" style="float:right">Next <span style="padding-left:20px"> > </span></button>
      <% end %>

    </div>
    <div class="clear-both"></div>
  </div>
</div>

<div id="uploadPhoto" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Upload photo or logo</h3>
  </div>
  <%= form_tag({:controller => "campaigns", :action => "upload_logo"},
               :multipart => true) do %>
      <div class="modal-body">
        <p>
          Upload photo, picture or logo that will rep[resent your idea in the best way. Aspect ratio of the picture
          should be 2:1
        </p>
        <%= file_field_tag :avatar, :onchange => "checkFile(this)"%>
        <%= hidden_field_tag :back_action, "about_step"%>
        <p id="photo_error" style="color:red"></p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary"  id="photo_upload" disabled>Upload photo</button>
      </div>
  <% end %>
</div>

<script language="javascript">
    function checkFile(elementNode){
        var fileInput = elementNode;
        var fileName = fileInput.value;
        var ext = fileName.substring(fileName.lastIndexOf('.') + 1);
        if(ext == "gif" || ext == "GIF" || ext == "JPEG" || ext == "jpeg" || ext == "jpg" || ext == "JPG" || ext == "png" || ext == "PNG") {
            document.getElementById('photo_error').innerText = "";
            document.getElementById('photo_upload').disabled = false;
        }
        else
        {
            document.getElementById('photo_error').innerText = "Upload Gif or Jpg images only";
            document.getElementById('photo_upload').disabled = true;
            fup.focus();
        }
    }
</script>
