<div class="navbar navbar-inverse" xmlns="http://www.w3.org/1999/html">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="active"><%= link_to :action => "guide_step" do %>0. Guidelines<%end%></li>
      <li class="active"><%= link_to :action => "basic_step" do %>1. Basic<%end%></li>
      <li class="active"><a >2. About company</a></li>
      <li><a >3. Team</a></li>
      <li><a >4. Publish</a></li>
      <li><a >5. Review</a></li>
      <li class="active" style="margin-left:100px">
        <%= link_to :controller => "startups", :action => "show", :id => session[:startup_id] do %>
          <%=  @startup.name %>
        <% end %>
      </li>
    </ul>
  </div>
</div>


<div class="sign-up">
  <h4>About company</h4>
  <%= form_tag(:action => 'description_step', :multipart => true) do %>
    <ol>
      <div class="highlighted-list">
        <li>
          <h5>Company/campaign image  <a href="#uploadPhoto" role="button" class="btn btn-mini" data-toggle="modal">Update Photo</a></h5>
          <% if @startup.errors[:avatar].length > 0 %>
              <p style="color:red">Photo was not upload, probably wrong file format. Please try again</p>
          <% end %>
          <% if @startup.avatar? %>
              <%= image_tag @startup.avatar.url(:large), :style=>"margin-bottom:20px " %>
          <% end %>
        </li>
      </div>
      <div class="highlighted-list">
        <li>
          <% allfield =  Allfield.find(@companydescriptions1.allfield_id)   %>
          <h5><%= allfield.field_name   %></h5>
          <%= select(:companydescriptions1, :field_status, options_from_collection_for_select(allfield.Fieldstates, :field_status, :field_status, @companydescriptions1.field_status)) %>
          <%= hidden_field :companydescriptions1, :allfield_id, :value => allfield.id %>
          <%= text_area :companydescriptions1, :content %>
          <p>Describe your product and specify your product stage</p>
        </li>
      </div>
      <div class="highlighted-list">
        <li>
          <% allfield =  Allfield.find(@companydescriptions2.allfield_id)   %>
          <h5><%= allfield.field_name   %></h5>
          <%= select(:companydescriptions2, :field_status, options_from_collection_for_select(allfield.Fieldstates, :field_status, :field_status, @companydescriptions2.field_status)) %>
          <%= hidden_field :companydescriptions2, :allfield_id, :value => allfield.id %>
          <%= text_area :companydescriptions2,:content %> </p>
          <p>Specify if you raised capital</p>
        </li>
      </div>
      <div class="highlighted-list">
        <li>
          <% allfield =  Allfield.find(@companydescriptions3.allfield_id)   %>
          <h5><%= allfield.field_name   %></h5>
          <%= select(:companydescriptions3, :field_status, options_from_collection_for_select(allfield.Fieldstates, :field_status, :field_status, @companydescriptions3.field_status)) %>
          <%= hidden_field :companydescriptions3, :allfield_id, :value => allfield.id %>
          <%= text_area :companydescriptions3,:content %> </p>
          <p>Describe your customers and sales and specify your revenue stage</p>
        </li>
      </div>
      <div class="highlighted-list">
        <li>
          <% allfield =  Allfield.find(@companydescriptions3.allfield_id)   %>
          <h5><%= allfield.field_name   %></h5>
          <%= select(:companydescriptions3, :field_status, options_from_collection_for_select(allfield.Fieldstates, :field_status, :field_status, @companydescriptions3.field_status)) %>
          <%= hidden_field :companydescriptions3, :allfield_id, :value => allfield.id %>
          <%= text_area :companydescriptions3,:content %> </p>
          <p>Describe your customers and sales and specify your revenue stage</p>
        </li>
      </div>
    </ol>
    <button id="next-step" class="btn btn-warning" style="float:right">Next <span style="padding-left:20px"> > </span></button>
  <% end %>
</div>

<div id="uploadPhoto" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Upload photo or logo</h3>
  </div>
  <%= form_for(@startup) do |f| %>
      <div class="modal-body">
        <%= f.file_field :avatar, :onchange => "checkFile()"%>
        <p id="photo_error" style="color:red"></p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary"  id="photo_upload" disabled>Upload photo</button>
      </div>
  <% end %>
</div>


<script language="javascript">
    function checkFile(){
        var fileInput = document.getElementById('startup_avatar');
        var fileName = fileInput.value;
        var ext = fileName.substring(fileName.lastIndexOf('.') + 1);
        if(ext == "gif" || ext == "GIF" || ext == "JPEG" || ext == "jpeg" || ext == "jpg" || ext == "JPG" || ext == "png" || ext == "PNG") {
            document.getElementById('photo_error').innerText = "";
            document.getElementById('photo_upload').disabled = false;
        }
        else
        {
            document.getElementById('photo_error').innerText = "Upload Gif or Jpg images only";
            document.getElementById('photo_upload').disabled = true;
            fup.focus();
        }
    }
</script>