<%= render "nav" %>

<div class="hatcher-container">
  <div class="company-main">
    <div class="company-left">
        <div class="company-box"> <h5>Basic information</h5></div>
        <%= form_tag(:action => 'create_step', :multipart => true) do %>
            <ol>
              <li>
                <div class="company-box">
                    <% if @startup.errors[:name].length > 0 %>
                      <h4 class="error-message">Company name</h4>
                      <%= text_field(:startup,:name, :style => "border-color:red")%>
                    <% else %>
                      <h4>Company name</h4>
                      <%= text_field(:startup,:name)%>
                    <%end%>
                </div>
              </li>
              <li>
                <div class="company-box">
                    <% if @startup.errors[:link].length > 0 %>
                      <h4 class="error-message">Link to your website</h4>
                      <%= text_field(:startup,:link, :style => "border-color:red")%>
                    <% else %>
                      <h4>Link to your website</h4>
                      <%= text_field(:startup,:link)%>
                    <%end%>
                </div>
              </li>
              <li>
                <div class="company-box">
                  <h4>Short description</h4>
                  <p>Here is you opportunity to sell your idea and attract investors</p>
                  <%= text_area :startup, :pitch %>
                </div>
              </li>
            </ol>
            <button id="next-step" class="btn btn-warning" style="float:right">Next <span style="padding-left:20px"> > </span></button>
        <% end %>
    </div>
    <div class="clear-both"></div>
  </div>
</div>
