<%= render "nav" %>


<div class="sign-up">
  <h4>Review all information</h4>
  <%= form_tag(:action => 'publish_step', :multipart => true) do %>
      <ol>
        <div class="highlighted-list">
          <li>
            <h5>General information</h5>
            <table>
              <tr>
                <td><p>Name:</p></td>
                <td><p><%= @startup.name %></p></td>
              </tr>
              <tr>
                <td><p>Link:</td>
                <td><p><%= @startup.link %></p></td>
              </tr>
              <tr>
                <td><p>Short description:</p></td>
                <td><p><%= @startup.pitch %></p></td>
              </tr>
              <tr>
              <% if @campaign != nil and @campaign.id > 0 %>
                <td style="width:180px;"><p>Goal of the campaign:</p></td>
                <td><p><%= @campaign.goal_sum %> for <%= @campaign.share %>% of the company</p></td>
              <% else %>
                <td style="width:180px;"><p>Goal of the campaign:</p></td>
                <td><p>Campaign was not started</p></td>
              <% end %>
              </tr>
            </table>
          </li>
        </div>

        <div class="highlighted-list">
          <li>
            <h5>About company</h5>
            <table>
              <tr>
                <td style="width:180px;"><p>Product:</p></td>
                <% if @company_description_1 != nil %>
                <td><p><%= @company_description_1.field_status %></p></td>
                <% else %>
                <td><p style="color:red">- no information - </p></td>
                <% end %>
              </tr>
              <tr>
                <td></td>
                <% if @company_description_1 != nil %>
                    <td><p><%= @company_description_1.content %></p></td>
                <% else %>
                    <td><p style="color:red">- no description - </p></td>
                <% end %>
              </tr>
              <tr>
                <td><p>Sales:</p></td>
                <% if @company_description_2 != nil %>
                    <td><p><%= @company_description_2.field_status %></p></td>
                <% else %>
                    <td><p style="color:red">- no information - </p></td>
                <% end %>
              </tr>
              <tr>
                <td></td>
                <% if @company_description_2 != nil %>
                    <td><p><%= @company_description_2.content %></p></td>
                <% else %>
                    <td><p style="color:red">- no description - </p></td>
                <% end %>
              </tr>
              <tr>
                <td><p>Investment:</p></td>
                <% if @company_description_3 != nil %>
                    <td><p><%= @company_description_3.field_status %></p></td>
                <% else %>
                    <td><p style="color:red">- no information - </p></td>
                <% end %>
              </tr>
              <tr>
                <td></td>
                <% if @company_description_3 != nil %>
                    <td><p><%= @company_description_3.content %></p></td>
                <% else %>
                    <td><p style="color:red">- no description - </p></td>
                <% end %>
              </tr>
            </table>
          </li>
        </div>


        <div class="highlighted-list">
          <li>
            <h5>Team</h5>
            <% @startup_teams.each do |startup_team|%>
            <h5><%= startup_team.firstname %><%= startup_team.lastname %> - <%= startup_team.title %></h5>
            <table style="margin-left:30px;">
              <tr>
                <td style="width:150px;"><p>CMU affiliation:</p></td>
                <td><p><%= startup_team.cmuaffiliation %></p></td>
              </tr>
                <td style="width:150px;"><p>Description:</p></td>
                <td><p><%= startup_team.description %></p></td>
              </tr>
            </table>
            <% end %>
          </li>
        </div>

        <div class="highlighted-list">
          <li>
            <h5>Publish company profile</h5>
            <p style="font-style:italic;">Confirm that your company profile is ready to be published on the platform. After confirming the profile will
                   be available after a short review by our team within 24 hours.</p>
            <p style="font-style:italic;">If can publish your company profile any time later.
                   Before publishing only those who have the link can see your company profile.</p>
            <label><div style="display: inline;">
              <% if @startup.status > 1 %>
                 <%= check_box_tag :publish_check, 1, true %>
              <% else %>
                 <%= check_box_tag :publish_check %>
              <% end %>
            </div>
              <div style="color:orange; margin:-18px 0 10px 30px">Publish company profile</div>
            </label>
          </li>
        </div>

      </ol>
      <button id="next-step" class="btn btn-warning" style="float:right">Next <span style="padding-left:20px"> > </span></button>
  <% end %>
</div>