<div class="navbar navbar-inverse" xmlns="http://www.w3.org/1999/html">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="active"><%= link_to :action => "guide_step" do %>0. Guidelines<%end%></li>
      <li class="active"><%= link_to :action => "basic_step" do %>1. Basic<%end%></li>
      <li class="active"><%= link_to :action => "about_step" do %>2. About company<%end%></li>
      <li class="active"><a >3. Team</a></li>
      <li><a >4. Account</a></li>
      <li><a >5. Review</a></li>
      <li class="active" style="margin-left:100px">
        <%= link_to :controller => "startups", :action => "show", :id => session[:startup_id] do %>
          <%=  @startup.name %>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<div class="sign-up">
  <h4>You and your team</h4>
  <%= form_tag(:action => 'team_save_step', :multipart => true) do %>
      <ol>
        <div id="form-name-1" class="highlighted-list">
          <li>
            <h5>Team member</h5>
            <p>First and last name:
              <%= text_field :company_team_1, :firstname, :style => "width:160px; margin:0 30px 0 30px; " %>
              <%= text_field :company_team_1, :lastname, :style => "width:160px; margin:0" %>
            </p>
            <p>CMU affiliation:<span style="margin:0 0 0 60px"></span>
              <%= select(:company_team_1, :cmuaffiliation, options_from_collection_for_select(Univaffiliation.all, :title_name, :title_name, @company_team_1.cmuaffiliation)) %>
            </p>
            <p>Position/role:
              <%= text_field :company_team_1, :title, :style => "width:370px;margin:0 0 0 72px;" %>
            </p>
            <%= text_area :company_team_1, :description %>
            <p>Show experience and motivation of your team</p>
            <%= hidden_field :company_team_1, :id, :value => @company_team_1.id %>
          </li>
        </div>

        <div id="form-name-2" class="highlighted-list" <% if @company_team_2.id == nil%> hidden <% end %>>
          <li>
            <h5 onclick = addTeam(2)>Team member (click here to delete this person)</h5>
            <p>First and last name:
              <%= text_field :company_team_2, :firstname, :style => "width:160px; margin:0 30px 0 30px; " %>
              <%= text_field :company_team_2, :lastname, :style => "width:160px; margin:0" %>
            </p>
            <p>CMU affiliation:<span style="margin:0 0 0 60px"></span>
              <%= select(:company_team_2, :cmuaffiliation, options_from_collection_for_select(Univaffiliation.all, :title_name, :title_name, @company_team_2.cmuaffiliation)) %>
            </p>
            <p>Position/role:
              <%= text_field :company_team_2, :title, :style => "width:370px;margin:0 0 0 72px;" %>
            </p>
            <%= text_area :company_team_2, :description %>
            <p>Show experience and motivation of your team</p>
            <%= hidden_field :company_team_2, :id, :value => @company_team_2.id %>
            <% if @company_team_2.id == nil %>
                <%= hidden_field :add_team, :team_2, :value => "0" %>
            <% else %>
                <%= hidden_field :add_team, :team_2, :value => "1" %>
            <% end %>
          </li>
        </div>

        <div id="form-name-3" class="highlighted-list" <% if @company_team_3.id == nil%> hidden <% end %>>
          <li>
            <h5 onclick = addTeam(3)>Team member (click here to delete this person)</h5>
            <p>First and last name:
              <%= text_field :company_team_3, :firstname, :style => "width:160px; margin:0 30px 0 30px; " %>
              <%= text_field :company_team_3, :lastname, :style => "width:160px; margin:0" %>
            </p>
            <p>CMU affiliation:<span style="margin:0 0 0 60px"></span>
              <%= select(:company_team_3, :cmuaffiliation, options_from_collection_for_select(Univaffiliation.all, :title_name, :title_name, @company_team_3.cmuaffiliation)) %>
            </p>
            <p>Position/role:
              <%= text_field :company_team_3, :title, :style => "width:370px;margin:0 0 0 72px;" %>
            </p>
            <%= text_area :company_team_3, :description %>
            <p>Show experience and motivation of your team</p>
            <%= hidden_field :company_team_3, :id, :value => @company_team_3.id %>
            <% if @company_team_3.id == nil %>
                <%= hidden_field :add_team, :team_3, :value => "0" %>
            <% else %>
                <%= hidden_field :add_team, :team_3, :value => "1" %>
            <% end %>
          </li>
        </div>

        <div id="add-name-2" class="highlighted-list" <% if @company_team_2.id != nil%> hidden <% end %> >
          <li>
            <h5 onclick = addTeam(2)>Click to add another member</h5>
          </li>
        </div>

        <div id="add-name-3" class="highlighted-list" <% if @company_team_3.id != nil%> hidden <% end %> >
          <li>
            <h5 onclick = addTeam(3)>Click to add another member</h5>
          </li>
        </div>


      </ol>
      <button id="next-step" class="btn btn-warning" style="float:right">Next <span style="padding-left:20px"> > </span></button>
  <% end %>
</div>

<script  type="text/javascript">
    function addTeam(elementName) {
        var formName = "form-name-" + elementName;
        var addName = "add-name-" + elementName;
        var checkboxName = "add_team_team_" + elementName;
        if (document.getElementById(checkboxName).value == "0") {
            document.getElementById(formName).hidden = false;
            document.getElementById(addName).hidden = true;
            document.getElementById(checkboxName).value = "1";
        }
        else {
            document.getElementById(formName).hidden = true;
            document.getElementById(addName).hidden = false;
            document.getElementById(checkboxName).value = "0";
        }
    }
</script>