<%= form_for(@fund) do |f| %>
  <% if @fund.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fund.errors.count, "error") %> prohibited this fund from being saved:</h2>
      <ul>
      <% @fund.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :fund_id %><br />
    <%= f.text_field :fund_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
