<h1>Administration view of the funds</h1>

<table>
  <tr>
    <th>Id</th>
    <th>User</th>
    <th>Fund</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @funds.each do |fund| %>
  <tr>
    <td><%= fund.id %></td>
    <td><%= fund.user_id %></td>
    <td><%= fund.fund_id %></td>
    <td><%= link_to 'Show', fund %></td>
    <td><%= link_to 'Edit', edit_fund_path(fund) %></td>
    <td><%= link_to 'Destroy', fund, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fund', new_fund_path %>

