<% if @campaign.status == 3 %>
    This campaign has been approved!
<% else %>

    <% n = n = @companydescriptions.length %>
    <% show_approval_button = 1 %>
    <% for i in 0..n-1 %>

        <%= form_for(@companydescriptions[i]) do |f| %>

            <div id="content-left">

              <div id="teaser-text">
                <% if session[:id] != nil %>

                    <% if Allfield.find(@companydescriptions[i].allfield_id).view_flag == 3 %>
                        <h1> <%= Allfield.find(@companydescriptions[i].allfield_id).field_name %> </h1>
                        <p> <%= simple_format h @companydescriptions[i].content %> </p>
                        <p> <%= simple_format h @companydescriptions[i].field_status %> </p>
                        <% if Approvalstatuses.where("id = ?", @companydescriptions[i].approval_status).length > 0 %>
                            <p> Approval status: <%= Approvalstatuses.find(@companydescriptions[i].approval_status).status %> </p>
                            <% if @companydescriptions[i].approval_status != 2 %>
                                <% show_approval_button = 0 %>
                            <% end %>
                        <% end %>
                        <div class="fields">
                          Update approval status:

                          <%= f.select("approval_status", options_from_collection_for_select(Approvalstatuses.all, :id, :status, @companydescriptions[i].approval_status)) %>

                        </div>
                        <%= f.submit('Save Status', class: "btn btn-large btn-primary") %>
                        <%= hidden_field_tag 'route', 'funds'  %>
                    <% end %>
                <% end %>
              </div>

              <% if session[:id] == nil %>
                  <p> To learn more about this company please <%= link_to 'Login', :controller => 'authentications', :action => 'checklogin', :gotocontroller => 'startups' , :gotoaction => 'detailed' , :id => params[:id] %></p>
              <% end %>
            </div>
        <% end %>
    <% end %>

    <% if show_approval_button == 1 %>
        <%= form_for(@campaign) do |f| %>
            <%= f.submit('Approve Campaign', class: "btn btn-large btn-primary") %>
            <%= hidden_field_tag 'route', 'funds'  %>
        <% end %>
    <% end %>
<% end %>