.user-content
  %h5 Reset password
  - if params[:email].nil? || params[:email][:address].nil?
    = form_tag :action => "forgot_password" do
      %p Please enter your email and we will send you password
      = text_field :email, :address
      %br
      = submit_tag 'Reset password', class: "btn btn-primary"
  -else
    %p
      You password was sent to #{params[:email][:address]}.
      If you do not get an email in 10 minutes, please contact us at
      %a{ :href => "mailto:team@ideahatcher.co"} team@ideahatcher.co.
    %p
      = link_to "Go to the Home page", :signup => "home"