.new-home-signup
  .signup-cover
    .message-box
      %p{:style => "font-size:48pt; line-height: 64pt; font-weight: lighter"}
        About yourself:
      %p{:style => "margin-top:10%; font-size:24pt; line-height: 30pt; font-weight: lighter"}
        Please share your experience/expertise and needs/asks with
        the Startup Tri-Valley Community.
    - if session[:id].nil? || session[:id] == 0
      .login-box
        = form_tag({:action => 'create_account'}, :multipart => true) do
          %h4{:style => "font-weight: lighter;"} Set up account:
          - if not flash[:error].nil?
            #flash_error
              = flash[:error]
          %p
            Email:
            %br
            - if @authentication.nil?
              = text_field :authentication, :username
            - else
              = text_field :authentication, :username, :value => @authentication.username

          %p
            Password:
            %br
            = password_field :authentication, :password

          %p
            Confirm password:
            %br
            = password_field :ll, :password_confirmation

          %p
            First name:
            %br
            - if @user.nil?
              = text_field :user, :firstname
            - else
              = text_field :user, :firstname, :value => @user.firstname

          %p
            Last name:
            %br
            - if @user.nil?
              = text_field :user, :lastname
            - else
              = text_field :user, :lastname, :value => @user.lastname

          = hidden_field_tag :gotocontroller, "tri_valley_meetup"
          = hidden_field_tag :gotoaction, "show"

          = submit_tag 'Create account', :class => "btn-simple custom-button", :style => "background-color:#C73237; color:white"

