<!DOCTYPE html>
<html>
<head>
  <Link rel="shortcut icon" href="/images/logo_icon.png">
  <title>Capital Round for CMU</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag  "/stylesheets/styles.css" %>

  <%= javascript_include_tag "prototype", "effects" %>
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  	
	<script type="text/javascript">
		function MM_changeProp(objId,x,theProp,theValue) { //v9.0
		  var obj = null; with (document){ if (getElementById)
		  obj = getElementById(objId); }
		  if (obj){
			if (theValue == true || theValue == false)
			  eval("obj.style."+theProp+"="+theValue);
			else eval("obj.style."+theProp+"='"+theValue+"'");
		  }
		}
    </script>

  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41329570-1', 'ideahatcher.co');
      ga('send', 'pageview');

  </script>
  
</head>
<body>

<div class="navbar navbar-fixe-top">
	<div class="navbar-inner">
        <div>

	        <ul class="nav pull-right">
                <li><%= link_to 'CONTACT US', :controller => 'home', :action => 'contacts' %></li>
            </ul>
        </div>

        
	<div style="clear:both"></div>
	</div>
</div>        

<div id="head-box-line-2">

    <div id="head-box-2">
        
        <%= link_to :controller => 'home', :action => 'index' do %>
            <div id="logo"> 
            	<img src="/images/logo_capitalround.png" width="350"   />
            </div>
        <% end %>  
  
        
	</div>
  	
	<div style="clear:both"></div>
  	
</div>
  
<div id="wrapper">             
	
	<div id="content-box">
		<%= yield %>
	</div>

    <div style="clear:both"></div>  
</div>

</body>
</html>
