<!DOCTYPE html>
<html>
<head >
  <Link rel="shortcut icon" href="/images/logo_icon.png">
  <!--<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>-->
  <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>-->
  <!--<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>-->


  <title>ideaHatcher</title>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>


  <%= javascript_include_tag "application" %>


  <%= csrf_meta_tags %>

  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41329570-1', 'ideahatcher.co');
      ga('send', 'pageview');

  </script>

</head>


<body class="background-lightning">

<div class="hatcher-nav">
  <div class="logo-img">
    <%= link_to(:controller => "home") do  %>
        <img src="/images/ideahatcher_logo.png">
    <% end %>
  </div>

  <% if session[:id] != nil and session[:id] != 0 %>
      <% user = User.find(session[:id]) %>
      <% owner_number = user.Owners.count %>
      <ul class="user-nav nav nav-pills">
        <li class="dropdown custom-dropdown">
          <%= link_to "Vote", :action => "vote_lightning", :controller => "startups" %>
        </li>
        <li  class="dropdown custom-dropdown">
          <% if owner_number != 0 %>
              <%= link_to "Feedback", :controller => 'startups', :action => 'dashboard', :id => user.Owners[0].startup_id  %>
          <% else %>
              <%= link_to "Feedback", :controller => 'campaigns', :action => 'guide_step'  %>
          <% end %>
        </li>
        <li  class="dropdown custom-dropdown">
          <% if owner_number != 0 %>
            <%= link_to "My idea", :controller => 'startups', :action => 'show', :id => user.Owners[0].startup_id  %>
          <% else %>
            <%= link_to "My idea", :controller => 'campaigns', :action => 'guide_step'  %>
          <% end %>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="height: 12px;">
            <% if user.avatar? %>
                <%= image_tag user.avatar.url(:square) %>
            <% else %>
                <%= image_tag "/images/profile/Nophoto.png" %>
            <% end %>
            <b class="caret"></b>
            <% if user.notification_num and user.notification_num >0 %>
                <div class ="notifications"><%= user.notification_num %></div>
            <% end %>
          </a>
          <ul class="dropdown-menu">
            <% if owner_number != 0 %>
                <li role="presentation"><%= link_to user.Owner_startups[0].name, :controller => 'startups',
                                                    :action => 'show', :id => user.Owners[0].startup_id %></li>
            <% else %>
                <li role="presentation"><%= link_to "Start a company", :controller => 'campaigns',
                                                    :action => 'guide_step' %></li>
            <% end %>
            <hr />
            <li role="presentation">
              <%= link_to :controller => 'users', :action => 'index',
                                                  :id => user.id  do%>
                 Notifications <span class ="notifications"><%= user.notification_num %></span>
              <%end%>
            </li>
            <li role="presentation"><%= link_to 'Update profile', :controller => 'users', :action => 'edit',
                                                :id => user.id %></li>
            <li role="presentation"><%= link_to 'Change password', :controller => 'users', :action => 'change_password',
                                                :id => user.id %></li>
            <hr />
            <li role="presentation"><%= link_to 'Logout', :controller => 'authentications', :action => 'logout' %></li>
          </ul>
        </li>
      </ul>
  <% else %>
      <div id="login-nav" class="login-nav">
        <%= form_tag({:action => 'remote_login', :controller => 'authentications'},
                     :multipart => true, :remote => true) do %>
            <div class="login-input">
              <%= text_field "authentication", "username", :value => "Login (email):",
                             :onclick => "clearInput(this)"%>
            </div>
            <div class="login-input">
              <%= password_field "authentication", "password", :value => "password",
                             :onclick => "clearInput(this)"%>
            </div>
            <%= submit_tag 'Login', class: "btn btn-small",
                           style: "margin-top:5px;height:26px;width:80px;"%>
        <% end %>
      </div>
  <% end %>
</div>

<div style="clear:both"></div>

<%= yield %>

<div class="clear-both"></div>

<div class="footer">
  <p>Copyright 2013 - ideaHatcher</p>
</div>


<div id="login_modal" class="modal hide fade login-modal"
                        tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">First let everyone know who you are:</h3>
  </div>
  <div class="modal-body">
    <div class="modal-left">
      <%= render 'authentications/clean_login_form' %>
    </div>
    <div class="modal-right">
      <%= render 'authentications/clean_join_form' %>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>


</body>
</html>