<!DOCTYPE html>
<html>
<head >
  <Link rel="shortcut icon" href="/images/logo_icon.png">
  <title>Capital Round</title>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
      $(function(){
          $('.carousel').carousel();
      });
      $(function(){
          $('#example').tooltip(options)
      });
      function MM_changeProp(objId,x,theProp,theValue) { //v9.0
          var obj = null; with (document){ if (getElementById)
              obj = getElementById(objId); }
          if (obj){
              if (theValue == true || theValue == false)
                  eval("obj.style."+theProp+"="+theValue);
              else eval("obj.style."+theProp+"='"+theValue+"'");
          }
      }
  </script>

  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41329570-1', 'ideahatcher.co');
      ga('send', 'pageview');

  </script>

</head>


<body class="background-img">

<div class="home-nav">

  <div class="login-nav">
    <%= form_tag(:action => 'process_login', :controller => 'authentications', :multipart => true) do %>
      <div class="login-input">
        <p>Login (email):</p>
        <%= text_field "authentication", "username"%>
      </div>
      <div class="login-input">
        <p>Password:</p>
        <%= password_field "authentication", "password" %>
      </div>
      <%= submit_tag 'Login', class: "btn btn-small",
                      style: "color: #f88a00;margin-top:21px;height:26px;width:80px;"%>
    <% end %>
  </div>

</div>

<div style="clear:both"></div>

  <%= yield %>


<div class="footer">
  <p>Copyright 2013 - Capital Round</p>
</div>

</body>
</html>