<!DOCTYPE html>
<html>
<head >
  <Link rel="shortcut icon" href="../images/logo_icon.png">

  <title>ideaHatcher</title>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "startups", :media => "all" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap-modal" %>

  <%= csrf_meta_tags %>

  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41329570-1', 'ideahatcher.co');
      ga('send', 'pageview');

  </script>

</head>


<body>

<div class="hatcher-nav">
  <div class="logo-img">
    <%= link_to(:controller => "startups") do  %>
        <img src="/images/ideahatcher_logo.png">
    <% end %>
  </div>

  <% if session[:id] != nil and session[:id] != 0 %>
      <% user = User.find(session[:id]) %>
      <% owner_number = user.Owners.count %>
      <ul class="user-nav nav nav-pills">
        <%
           if (params[:controller] == 'startups' and ['my_ideas'].include?(params[:action])) ||
                   params[:controller] == 'campaigns' ||
                   (params[:controller] == 'startups' and !session[:connection_type].nil? and session[:connection_type] == 2)
             custom_str = "custom-active"
           else
             custom_str = ""
           end
        %>
        <li class="dropdown custom-dropdown <%= custom_str %>">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="height: 12px;">
            My ideas
          </a>
          <ul class="dropdown-menu custom-dropdown-menu">
            <li role="presentation"><%= link_to "Start new idea", :controller => 'campaigns',
                                                :action => 'guide_step' %></li>
            <% if owner_number != 0 %>
                <li role="presentation"><%= link_to "See all my ideas", :controller => 'startups',
                                                    :action => 'my_ideas' %></li>
                <hr />
                <% user.Owner_startups.each do |startup| %>
                    <li role="presentation"><%= link_to startup.name, :controller => 'startups',
                                                        :action => 'show', :id => startup.id %></li>
                <% end %>
            <% end %>
          </ul>
        </li>

        <%
           if (params[:controller] == 'startups' and ['index', 'hashtag'].include?(params[:action])) ||
                   (params[:controller] == 'startups' and !['my_ideas', 'following_ideas'].include?(params[:action]) and
                           (session[:connection_type].nil? || session[:connection_type] == 0))
             custom_str = "custom-active"
           else
             custom_str = ""
           end
        %>
        <li class="dropdown custom-dropdown <%= custom_str %>">
          <%= link_to "Browse", :action => "index", :controller => "startups" %>
        </li>

        <%
           if (params[:controller] == 'startups' and ['following_ideas'].include?(params[:action])) ||
                   (params[:controller] == 'startups' and !session[:connection_type].nil? and session[:connection_type] == 1)
             custom_str = "custom-active"
           else
             custom_str = ""
           end
        %>
        <li class="dropdown custom-dropdown <%= custom_str %>">
          <%= link_to "Following", :action => "following_ideas", :controller => "startups" %>
        </li>

        <%
           if (params[:controller] == 'home' and ['about'].include?(params[:action]))
             custom_str = "custom-active"
           else
             custom_str = ""
           end
        %>
        <li class="dropdown custom-dropdown  <%= custom_str %>">
          <%= link_to "How it works", :action => "index", :controller => "home", :anchor => "how-it-works" %>
        </li>

        <%
           if params[:controller] == 'users'
             custom_str = "custom-active"
           else
             custom_str = ""
           end
        %>
        <li class="dropdown  <%= custom_str %>">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="height: 12px;">
            <% if user.avatar? %>
                <%= image_tag user.avatar.url(:square) %>
            <% else %>
                <%= image_tag "/images/no_profile_picture_" + (user.id % 4 + 1).to_s + ".png" %>
            <% end %>
            <b class="caret"></b>
            <% if user.notification_num and user.notification_num >0 %>
                <div class ="notifications"><%= user.notification_num %></div>
            <% end %>
          </a>
          <ul class="dropdown-menu">
            <li role="presentation">
              <%= link_to :controller => 'users', :action => 'notifications',
                          :id => user.id  do%>
                  Notifications <span class ="notifications"><%= user.notification_num %></span>
              <%end%>
            </li>
            <li role="presentation"><%= link_to 'My profile', :controller => 'users', :action => 'edit',
                                                :id => user.id %></li>
            <li role="presentation"><%= link_to 'Change password', :controller => 'users', :action => 'change_password',
                                                :id => user.id %></li>
            <hr />
            <li role="presentation"><%= link_to 'Logout', :controller => 'authentications', :action => 'logout' %></li>
          </ul>
        </li>
      </ul>
  <% else %>
      <ul id="login-nav" class="user-nav nav nav-pills">
        <%
           if (params[:controller] == 'startups')
             custom_str = "custom-active"
           else
             custom_str = ""
           end
        %>
        <li class="dropdown custom-dropdown <%= custom_str %>">
          <%= link_to "Browse", :action => "index", :controller => "startups" %>
        </li>
        <%
           if (params[:controller] == 'home' and ['about'].include?(params[:action]))
             custom_str = "custom-active"
           else
             custom_str = ""
           end
        %>
        <li class="dropdown custom-dropdown  <%= custom_str %>">
          <%= link_to "How it works", :action => "index", :controller => "home", :anchor => "how-it-works" %>
        </li>
        <li class="dropdown custom-dropdown">
          <a href="#" onclick="$('#login_modal').modal('show');">Join | Login</a>
        </li>
      </ul>

      <% if 1==2 %>
          <div id="login-nav" class="login-nav" hidden>
            <%= form_tag({:action => 'remote_login', :controller => 'authentications'},
                         :multipart => true, :remote => true) do %>
                <div class="login-input">
                  <%= text_field "authentication", "username", :value => "Login (email):",
                                 :onclick => "clearInput(this)"%>
                </div>
                <div class="login-input">
                  <%= password_field "authentication", "password", :value => "password",
                                     :onclick => "clearInput(this)"%>
                </div>
                <%= submit_tag 'Login', class: "btn btn-small",
                               style: "margin-top:5px;height:26px;width:80px;"%>
                <%=  link_to "Forgot...", {:controller => "authentications", :action => "forgot_password"}, :style =>
                        "color:white; font-size:10px;", :hidden => true %>
            <% end %>

          </div>
      <% end %>

  <% end %>
</div>

<div style="clear:both"></div>

<%= yield %>

<div class="clear-both"></div>

<div class="footer">
  <p>Copyright 2013 - ideaHatcher</p>
</div>

<% if !session[:id] || session[:id] == 0 %>
    <div id="login_modal" class="modal hide fade login-modal"
         tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Let everyone know who you are:</h3>
      </div>
      <div class="modal-body">
        <div class="modal-left">
          <%= render 'authentications/clean_login_form' %>
        </div>
        <div class="modal-right">
          <%= render 'authentications/clean_join_form' %>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
<% end %>


</body>
</html>